.header-blog-inner-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.header-blog-div-content .slick-prev::before {
    color: transparent !important;
    background-image: url("../../../../../images/icArrowLeft.svg");
    background-size: 10px, 10px;
    background-repeat: no-repeat;
  }
  
  .header-blog-div-content .slick-next::before {
    color: transparent !important;
    background-image: url("../../../../../images/icArrowRight.svg");
    background-size: 10px, 10px;
    background-repeat: no-repeat;
  }
  
  .header-blog-div-content .slick-next{
    right: 7px;
    cursor: pointer;
    z-index: 9999;
  }
  .header-blog-div-content .slick-prev{
   left: 15px;
   cursor: pointer;
   z-index: 9999;
  }