.article-sub-title {
  font-size: 0.75em;
  font-weight: bold;
  letter-spacing: 1px;
  color: #4a4a4a;
  margin: 1rem;
  text-transform: uppercase;
}

.article-title {
  font-family: "Roboto";
  font-size: 2.125em;
  line-height: 1.29;
  letter-spacing: -0.032em;
  color: #000000;
  margin: 1rem;
  font-weight: 300;
}

.article-image {
  width: 97%;
  height: 20.938em;
  margin: 1rem;
}

.article-text {
  font-size: 1rem;
  line-height: 1.75;
  letter-spacing: -0.4px;
  color: #4a4a4a;
  margin: 1rem;
  text-align: justify;
}

.article-image-div {
  display: flex;
  margin: 1rem;
  justify-content: space-between;
}

.article-image2 {
  width: 23.125em;
  height: 20em;
}

img[alt=rectangle-copy-4] { width: 400px; }

img[alt=Blog-image] { width: 500px }

.article-text table {
  width: 100%;
}

.article-text th {
  content: none;
}
/* 
p .blog-left .article-text .gatsby-resp-image-wrapper {
  max-width: 100% !important;
  margin: 0;
} */

.article-text p:nth-child(1) .gatsby-resp-image-wrapper{
  max-width: 100% !important;
}

.article-text table th:nth-child(1) .gatsby-resp-image-wrapper {
  margin-left: 0 !important;
  /* margin-right: 0 !important; */
}

.article-text table th:nth-child(2) .gatsby-resp-image-wrapper {
  margin-right: 0 !important;
}

.article-sub-title {
  display: flex;
}

.article-sub-title div:nth-child(2) {
  text-transform: capitalize !important;
}