/* .card-portion {
    display: flex;
    justify-content: center;
    padding-right: 3.75rem;
    padding-left: 3.75rem;
  }  
  .card-group {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-bottom: 1.5rem;
    flex-flow: column!important;
  }
.toolsAndDocsRight{
    padding: 3rem 2rem;
}


.search-tag {
    padding-top: 3.75rem;
    padding-left: 3.8rem;
    padding-bottom: 1.875rem;
  } */

  .card-group {
    flex-flow: column!important;
  }