.wrapper {
  display: flex;
  align-items: stretch;
  width: 100%;
}

#sidebar {
  width: 100%;
}

.search-iconn-hover {
  animation: rotation 0.1s linear;
}

.search-header {
  width: 100%;
  height: 4.375rem;
  display: none;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 0 0 0 #ededee;
  background-color: #f0f2f4;
}

.sidebar-nav {
  width: 100%;
}

.search-rectanglee {
  display: flex;
  align-items: center;
}
.sticky .search-rectangle {
  height: 1.8rem;
  transition: all 0.2s ease;
}

.sidebar-search {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 4.3rem;
  position: relative;
  align-items: center;
  background-color: #f0f2f4;
  transition: background-color 0.5s linear;
  border-top-left-radius: 0.5rem;
}

.search-textt {
  background: transparent;
  border: none;
  /* font-family: "Roboto"; */
  font-size: 1rem;
  line-height: 1.29;
  color: #ffffff;
  opacity: 0.4;
  color: #000;
  height: 100%;
  outline: none;
  width: 15rem;
  padding-left: 2rem;
}

.search-rectangle .search-text {
  color: #ffffff;
  overflow: hidden;
}

.search-iconn {
  width: 1rem;
  height: 1rem;
  opacity: 0.4;
  object-fit: contain;
  margin: 0 0.5rem;
}

.search-iconn-out {
  animation: rotate 0.1s linear;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(90deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(90deg);
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-90deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-90deg);
  }
}
.list-unstyled {
  margin: 2rem;
}
.components {
  font-size: 0.75rem;
}
.frame .components ul {
  padding-left: 0;
}
.components ul {
  padding-left: 2rem;
  padding-left: 3.7rem;
}
.components li {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.sidebar-nav a {
  color: #4a4e57;
  text-decoration: none;
  background-color: transparent;
  width: 100%;
}
.sidebar-nav .opend > li a {
  color: #4a4e57;
}
.opend {
  padding-left: 1.2rem !important;
}
/* .opened-toggle {
  color: #e20074 !important;
} */

.sidebar-nav a:hover {
  /* color: #4a4e57; */
  text-decoration: none;
  background-color: transparent;
}

.sidebar-nav li {
  list-style: none;
  margin: 0.3em 0;
  display: flex;
  flex-direction: column;
}

.list-horizontal {
  display: flex;
  flex-direction: row;
}

.sidebar-nav ul li a {
  margin-bottom: 0.2rem;
}

.sidebar-nav ul li a:hover {
  color: #e20074;
}

.sidebar-nav .ul-border > li > div > a {
  font-size: 0.875rem;
}

.sidebar-nav .ul-border > li {
  border-bottom: 1px solid rgba(217, 219, 223, 0.4);
  padding: 1rem 0;
}

.arrow-right-image {
  width: 7px;
  height: 5px;
  margin-right: 1rem;
  transform: rotate(270deg);
  transition: 0.1s ease-in;
}
.arrow-right-image:hover,
.arrow-down-image:hover {
  cursor: pointer;
}
.arrow-down-image {
  width: 7px;
  height: 5px;
  margin-right: 1rem;
  transform: rotate(360deg);
  transition: 0.1s ease-in;
}

.dot-image {
  width: 5px;
  height: 5px;
  /* visibility: hidden; */
  margin-right: 1rem;
}

.dot-image-removed {
  width: 5px;
  height: 5px;
  visibility: hidden;
  margin-right: 1rem;
}

.arrow-right {
  width: 100%;
  height: 100%;
}

.closed {
  display: none;
}

.opened {
  display: block;
}
.arrow-down {
  width: 0;
  height: 0;
  border-left: 1.25rem solid transparent;
  border-right: 1.25rem solid transparent;
}

.ul-classes {
  width: 100%;
  padding: 2rem 1.7rem;
  margin-bottom: 2rem;
}

.to-relative {
  position: relative;
  margin: 0;
}

.side-nav-footer {
  width: 100%;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.side-nav-footer .text-footer {
  opacity: 0.5;
  font-size: 12px;
}

.searchList :hover {
  color: #e20074;
}

.bg-white {
  background-color: #ffffff;
  transition: all 0.3s linear;
}

.displayList {
  display: block;
}
.notDisplayList {
  display: none;
}

.last-ul-child {
  padding-left: 1.1em !important;
}
.last-ul-child li {
  margin: 0;
}
.max-width-blogpage .collapse-btn-event {
  z-index: 100;
  position: absolute;
  right: 0;
  left: unset;
}
.security-markdown .security-markdown-leftnav.frame {
  width: 20rem;
}
.security-markdown-leftnav .collapse-btn-event {
  z-index: 4;
  position: absolute;
  right: unset;
  left: 0;
  top: 4rem;
}
.security-markdown-leftnav .btn-positn-api {
  position: absolute;
  left: 14.1rem;
  transition: all 0.5s ease;
}
.modal-header,
.modal-footer {
  border: none;
}
.modal-footer {
  justify-content: space-evenly;
}

.collapseJourneyEvent {
  -webkit-box-shadow: -1px 3px 32px 0px rgba(0,0,0,0.37);
  -moz-box-shadow: -1px 3px 32px 0px rgba(0,0,0,0.37);
   box-shadow: -1px 3px 32px 0px rgba(0,0,0,0.37);
}