.search_description {
    font-size: 0.87rem;
    padding-top: 0.5rem;
    line-height: 1.29;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    max-height: 3.5rem;
    max-width: 65rem;
    color: #4a4a4a;
}

.search-container{
    width:100%;
}
.search-suggestion-box{
    display: flex;

}
.search-res-info{
    color:rgb(178, 169, 169);
    display: flex;
    /* width: 86%; */
    font-size: 0.8rem;
    padding-bottom: 0.4rem;
    justify-content: space-between;
}
.search-navigation{
    min-width:34vh;
    min-height: calc(100vh - 5rem);
    margin: 1rem 1rem 0 1rem;
    background: #f4f8fb;
    padding-top: 3rem;
}

.search-suggestion-list{
    /* display: flex; */
    padding: 1.1rem;
    padding-top: 3rem;
}
.suggestion-row{
    display: flex;
    align-items: center;
    padding: 1rem 0.5rem;
    /* border-bottom: #ddd; */
    border-bottom: 0.01em solid #ddd;
}
.suggestion-icon-flex{
    background:#f4f8fb;
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}
.sugstion-discription-box{
    padding: 0.5rem 0.5rem 0.5rem 1.8rem;
    opacity: 0.8;
    flex-basis: 80%;
}
.sugstion-discription{
    font-size: 0.8rem;
    font-weight: 400;
    /* padding: 0.5em; */
}
.suggestion-header{
    color: #e20074;
    font-size: 1.1em;
    font-weight: 500;
    /* opacity: 0.9; */
    cursor: pointer;
    text-transform: capitalize;
}
.input-search{
    width:100%;
    outline: none;
    height: 3rem;
    padding: 1rem 0.5rem 1rem 2.4rem;
    border-radius: 0.2rem;
    border: none;
    background: #f4f8fb;
}
input[type='submit']{
  border: none;
  top: 0.6rem;
  width: 2rem;
  position: absolute;
  left: 0.35rem;
  background: url('../../images/icon-search.png') center center no-repeat;
  z-index: 2;
  opacity: 0.4;
  transition: opacity .4s ease;
}
.fake-search-div{
    position: relative;
    font-size: 0.9rem;
    opacity: 0.9;
}
.img-icon{
    border: none;
    width:70%;
    height: 77%;
}
.content-type{
    padding: 0.3rem;
    font-size: 0.9rem;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 2rem;
    cursor: pointer;
    border-bottom: 0.01rem solid #dddddd;
}

.filter-column{
    width:70%;
    margin:0.5rem auto;
}
.dummy-search-icon{
    text-indent: -1000000px
}