.security-markdown {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 4rem);
  overflow: hidden;
}

.security-markdown .security-markdown-leftnav {
  width: 23.5rem;
  box-shadow: 1px 0 0 0 #ededee;
  background-color: #f5f7f9;
  justify-content: center;
  display: flex;
  align-items: flex-start;
  height: 100%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.security-markdown .security-markdown-right-side {
  width: calc(100% - 18.5rem);
  padding: 0.7rem 2rem 2rem 2rem;
}

.security-markdown-right-side .max-width {
  max-width: 100% !important;
  margin: auto;
}

.max-width-blogpage {
  max-width: 74rem;
  margin: 0 auto;
  background-color: white;
  border-radius: 0.5rem;
}

.blogPage-bg {
  background-image: url('../../images/BG_DevJourney@2x-min.png');
  background-attachment: fixed;
  /* margin-top: 4rem !important; */
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

.multisite-markdown .devJourneyNav {
  position: absolute;
  z-index: 0;
  top: 6.5rem;
}

.multisite-markdown .collapseJourney .devsidenav-buttons {
  display: none;
}

.multisite-markdown #collapse-btn-event {
  z-index: 2;
}

.multisite-markdown .collapseJourneyEvent {
  transform: translateX(0%) !important;
}

.multisite-markdown .devJourneyNavEvent-lr {
  top: 8.6rem;
}

/* .multisite-markdown .collapse-btn {
  position: relative;
  left: -2.4rem;
  top: 2.4rem;
  padding: 0.6rem;
  transform: rotate(180deg);
} */

.multisite-markdown .collapseJourney .collapse-btn {
  position: relative;
  left: -6.1rem;
  top: 0.5rem;
  padding: 0.6rem;
}

.pg-title {
  font-size: 40px;
  text-align: center;
  color: #000;
  padding-top: 60px;
  padding-bottom: 20px;
  color: #fff;
  font-weight: 350;
  letter-spacing: 0.025em;
}