.journey {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 8.75rem;
    background-image: linear-gradient(89deg, #551d4a, #3d3f5a);
    top: -0.01rem;
}

.txt-content{
  margin-right: 19rem;
  z-index: 2;
}
.journey .btnn {
  width: 13rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  border-radius: 0.3125rem;
  background-color: #e20074;
  margin-top: 1.375rem;
  z-index: 1;
}

.journey .btnn2 {
  width: 15rem;
}

.journey .btnn:hover{
  background-color: #f10f85;
  transition: all 0.3s ease-in;
}
.btn-txt-journey {
  height: 1.3125rem;
  font-size: 1rem;
  font-family: 'Roboto';
  text-align: center;
  color: #ffffff;
  margin-bottom: 0.2rem;
  text-decoration: none;
}

.journey .heading {
  height: 1.75rem;
  font-family: "Roboto";
  font-size: 1.5rem;
  font-weight: 300;
  color: #ffffff;
}

.journey .para {
  width: 28.75rem;
  height: 2.375rem;
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: 300;
  color: #ffffff;
}

.bg-img-rgt {
    position: absolute;
    width: 22rem;
    height: 8.1875rem;
    bottom: 0;
    right: 4.5625rem;
    background-repeat: no-repeat;
    background-image: url('../../../../images/bg_img_rgt.svg');
    background-position: bottom right;
}

.bg-img-lft {
    position: absolute;
    width: 12rem;
    height: 12.9375rem;
    top: 0;
    left: 2.4375rem;
    background-repeat: no-repeat;
    background-image: url('../../../../images/bg_img_lft.svg');
    background-position: top left;
}

.journey .content {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-evenly;
}

.journey .max-width {
  width: 72rem;
}