.home-cards-section {
  width: 52rem;
  justify-content: left;
}

.upcoming-features-div {
  width: 25rem;
  margin-right: 1.2rem;
  margin-left: 0;
  margin-bottom: 1.2rem;
}

.upcoming-heading {
  font-family: "Roboto";
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.53;
  color: #4a4e57;
}

.upcoming-subheading {
  font-family: "Roboto";
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.92;
  color: #f10f85;
}

.upcoming-content {
  font-family: "Roboto";
  font-size: 1rem;
  line-height: 1.75;
  color: #6d757d;
}
.card-cont .card-view-more {
  width: 23%;
  cursor: pointer;
}
.upcoming-features-div .card-view-more {
  width: 44%;
  cursor: pointer;
}
.card-cont-box {
  cursor: pointer;
  position: relative;
  height: 21rem;
  width: 25rem;
  margin-bottom: 1.2rem;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.12));
}
.card-cont-box .card-preventDefault{
  width: 100%;
  height: 100%;
}

.card-cont-box:hover {
  text-decoration: none;
}
/* .card-cont-box{
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.15));
  transition: all .2s ease-in;
} */

.card-cont-box:hover {
  filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.15));
  transition: all 0.2s ease-in;
}

.home-cards-section .card-cont-box:nth-child(odd) {
  margin-right: 1.2rem;
  margin-left: 0;
}

.card-cont {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15); */
  background-color: #ffffff;
  padding: 45px 35px;
  position: relative;
  -webkit-clip-path: polygon(100% 0, 100% 92%, 92% 100%, 0 100%, 0 0);
  clip-path: polygon(100% 0, 100% 92%, 92% 100%, 0 100%, 0 0);
}
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-icon {
  width: 4.2rem;
  height: 4.4rem;
}
.card-tags-span {
  border: solid 1px #bbc0cf;
  border-radius: 3px;
  background-color: #ffffff;
  font-family: "Roboto";
  font-size: 0.6rem;
  font-weight: 400;
  line-height: 1.67;
  text-align: center;
  color: #77819f;
  /* padding: 0.1rem 0.4rem; */
  padding: 0.1rem 0.4rem 0.01rem 0.4rem;
  margin: 0.4rem;
  margin-left: 0%;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-tags-span:hover {
  border: solid 1px #ff8880;
  color: #ff8880;
  transition: all 0.22s ease-in;
  cursor: pointer;
}
.card-heading {
  font-family: "Roboto";
  font-size: 1.5rem;
  padding: 1.8rem 0 0.8rem;
  line-height: 1.17rem;
  color: #4a4e57;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  max-height: 5rem;
}
.card-para {
  font-family: "Roboto";
  font-size: 0.95rem;
  line-height: 1.3;
  color: #6d757d;
  overflow: hidden !important;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  /* max-height: 6.6rem; */
  max-height: 3.6rem;
  font-weight: 300;
  text-align: center;
}
.card-para p {
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
  display: -webkit-box;
  -webkit-line-clamp: 3;
}
.view-more-text {
  font-family: "Roboto";
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 1.67;
  letter-spacing: 1px;
  color: #e20074;
  text-transform: uppercase;
}
.vm-arrow {
  width: 0.9rem;
  height: 0.6rem;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.position-bottom {
  position: absolute;
  bottom: 4rem;
}
