.upper_footer {
    width: 100%;
    background-color: #474a68;
  }
  
  .footer_sections {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0;
  }
  
  .fsection {
    width: 17rem;
    margin: 2rem 0.1rem;
  }
  
  .footer_title {
    font-size: 0.875rem;
    font-weight: 600;
    color: #f9f9f9;
    text-transform: uppercase;
    margin: 0.8rem 0;
  }
  
  .footer_tag {
    opacity: 0.5;
    font-size: 0.75rem;
    line-height: 2.5;
    color: #ffffff;
  }
  .footer_tag:hover{
    color: #ffffff;
    opacity: 1;
    cursor: pointer;
    transition: all .27s ease-in;
  }
  
  .fline {
    width: 17rem;
    height: 1px;
    background-color: #979797;
    opacity: 0.2;
    margin-bottom: 0.8rem;
  }
  .hexagon-img{
  width:100%;
  height:100%;
  object-fit: cover;
  }