.upcoming-events-div {
  height: 5.6rem;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.375rem 0 rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  margin-bottom: 0.7rem;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.uevent-date-div {
  position: relative;
  transition: all 0.2s ease-in-out;
}

.calender-date {
  width: 2.6rem;
  height: 2.6rem;
}

.uevent-date {
  font-family: "Roboto";
  color: #f10f85;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0.75rem;
  top: 0.54rem;
}

.uevent-day {
  font-size: 1rem;
  font-weight: bold;
}

.uevent-month {
  font-size: 10px;
  font-weight: 500;
  line-height: 0.1rem;
  text-transform: uppercase;
}

.uevents-details-div {
  margin-left: 2rem;
}

.uevent-name {
  font-family: "Roboto";
  font-size: 1rem;
  color: #242241;
  transition: all 0.2s ease-in-out;
  max-width: 35rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  max-height: 2rem;
}

.uevent-detail {
  opacity: 0.5;
  font-family: "Roboto";
  font-size: 0.84rem;
  line-height: 1.5;
  color: #000000;
  max-width: 32rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  max-height: 3rem;
}

.uevent-location {
  opacity: 0.5;
  font-family: "Roboto";
  font-size: 0.875rem;
  line-height: 1.29;
  color: #000000;
  width: 7rem;
}

.ueh3 {
  flex-basis: 15%;
}

.uevent-arrow {
  width: 0.675rem;
  height: 1.25rem;
}

.upcoming-events-div:hover {
  box-shadow: 0 0.525rem 0.85rem 0 rgba(0, 0, 0, 0.1);
}

/* .upcoming-events-div:hover .uevent-date-div {
  transform: scale(1.1);
} */

.upcoming-events-div:hover .uevent-name {
  color: #f10f85;
}

.upcoming-events-section .empty-event-div {
  height: 14rem;
  background-color: #f9f9f9;
}

.upcoming-events-section .empty-event-icon {
  width: 12rem;
}