:root {
  --magenta-color: #e20074;
  --dark-magenta: #ba0060;
  --very-dark-magenta: #a10053;
}

.dark-magenta {
  color: var(--dark-magenta) !important;
}

.Modal-static {
  position: absolute;
  left: 0;
  right: 0;
  top: 8.6rem;
  bottom: 0;
  margin: 0 auto;
  background-color: #ffffff;
  opacity: 1;
  -webkit-animation: slide-out-bottom 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: slide-out-bottom 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation-name: slide-in-bottom;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.4s;
  transition: all 0.3s ease;
}

.Modal-static.modal-collapsed{
  left: 18.8rem !important;
  max-width: 54.5rem !important;
  transition: all 0.3s ease;
}

.Modal-static.ReactModal__Content.ReactModal__Content {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: none;
  border-radius: 0.375rem;
  overflow: hidden;
  width: 100%;
  height: 88.5vh;
  min-height: 31.25rem;
  /* left: 5rem; */
  overflow-y: hidden;
  overflow-x: hidden;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  height: 88.5vh;
  max-width: 74.2rem;
  /* -webkit-transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out, bottom 0.3s ease-out; */
  /* transition: opacity 0.3s ease-out, bottom 0.3s ease-out; */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 11;
}

.Overlay-static {
  position: fixed;
  top: 7.8rem;
  /* left: 4.3rem;
  right: 0; */
  left: calc(50% - 37rem);
  right: calc(50% - 37rem);
  max-width: 74rem;
  bottom: 0;
  background-color: transparent;
  z-index: 6;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.4s;
  z-index: 10 !important;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.ReactModal__Body--open {
  -webkit-transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
  transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
  overflow-x: hidden;
  overflow: hidden;
}

.djModalheader {
  background-color: #fff;
  overflow: hidden;
  /* height: 1rem; */
  width: 100%;
}

.closebtn {
  position: absolute;
  top: -4px;
  right: 1.525rem;
  font-size: 2.25rem;
  margin-left: 3.125rem;
  background-color: rgb(0, 0, 0, 0);
  border: none;
}

.closebtn:active {
  outline: none;
}

.closebtn-img {
  width: 1rem;
}

@-webkit-keyframes slide-out-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
}
@keyframes slide-out-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
}

.Modal-static .staticPage .markdown-body {
  margin-top: 0rem;
  max-width: 100%;
  padding: 1.2rem 2.500rem 1.875rem 2.500rem;
}

.Modal-static .staticPage {
  overflow-y: auto;
  max-height: calc(86vh - 3rem);
}

.Modal-static .staticPage .markdown-body div p:nth-last-child(1) {
  margin-bottom: 1rem;
}

.Modal-static .staticPage::-webkit-scrollbar {
  width: 8px;
}
 
.Modal-static .staticPage::-webkit-scrollbar-thumb {
  background: #d0cfcf;
  border-radius: 20px;
}

.Modal-static .staticPage::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px;
}

#myFrame .multisite-markdown::-webkit-scrollbar {
  width: 8px;
}
 
#myFrame .multisite-markdown::-webkit-scrollbar-thumb {
  background: #d0cfcf;
  border-radius: 20px;
}

#myFrame .multisite-markdown::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px;
}

#myFrame .multisite-markdown #collapse-btn-event {
  display: none;
}