.toolsandDocs {
  width: 100%;
  min-height: calc(100vh - 5rem);
  overflow: hidden;
  display: flex;
  z-index: 1;
  background-color: white;
  border-radius: 0.5rem;
}

/* nav should not cover right side content when it's collapsed */

.toolsAndDocs .devJourneyNav {
  padding: 0rem 1.2rem 0rem 1.4rem;
  margin-top: -0.07rem;
  z-index: 0 !important;
}

.toolsAndDocs .devJourneyNav.nav-expanded {
  z-index: 11 !important;
}

.toolsandDocs-left {
  width: 18.7rem;
  min-height: calc(100vh - 5em);
  box-shadow: 1px 0 0 0 #ededee;
  background-color: #f5f7f9;
  display: flex;
  align-items: flex-start;
}

.toolsandDocs-right {
  height: 100%;
  width: calc(100% - 18.7rem);
  min-height: calc(100vh - 5rem);
  padding: 2.3rem 2rem 2rem 1.3rem;
}

.breadcrumb-img-cont-2 {
  width: 1rem;
  height: 1rem;
  float: right;
  margin-right: 3rem;
}

.breadcrumb-img {
  width: 100%;
  height: 100%;
}

.max-width-tools {
  max-width: 83rem;
  margin: 0 auto;
}

/* .toolsNDoc .devJourneyNavbr .collapse-btn {
  display: none !important;
} */

.tnd-bg {
  background-image: url('../../images/BG_DevJourney@2x-min.png');
  background-attachment: fixed;
  margin-top: 7.65rem !important;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

#collapse-btn-event {
  position: absolute;
  top: 9.5rem;
  z-index: 3;
  opacity: 0.8;
}

#collapse-btn-event:hover {
  opacity: 1;
  transform: scaleX(1.1);
}

.devJourneyNav {
  /* position: absolute;
  top: 8.5rem; */
  z-index: 1;
}

.collapseJourney .collapse-btn {
  top: 0.5rem;
  left: -6.1rem;
}

.collapseJourney .devsidenav-buttons {
  display: none;
}

.event .devJourneyNavEvent {
  left: -17.4rem;
}

.devJourneyNavEvent-lr {
  transform: translateX(-100%);
  top: 8.5rem;
  left: -0.1px;
}

/* .toolsAndDocs .collapseJourney {
  transform: translateX(0%);
  top: 8.5rem;
  left: 0;
} */

/* .toolsAndDocs .collapseJourney .devJourneyNavEvent-lr {
  transform: translateX(0%);
} */

.toolsAndDocs .collapseJourneyEvent {
  transform: translateX(0%) !important;
  opacity: 1;
  z-index: 3;
  top: 8.5rem;
  left: 0;
  transition: all 0.3s ease;
  z-index: 5;
}

.toolsAndDocs .toolsdevJourney {
  z-index: 4;
}

.toolsdevJourney .devJourneyNavEvent-lr {
  left: -17.4rem;
}
/* .toolsAndDocs .collapse-btn {
  display: none;
}

.toolsAndDocs .collapseJourneyEvent .collapse-btn {
  display: block;
} */

.multisite-markdown .rotate-btn {
  transform: rotate(0deg);
  top: -0.4rem;
  left: 1.2rem;
}

.multisite-markdown .collapseJourney .rotate-btn {
  top: 2rem !important;
  width: 5rem;
  left: -5.5rem;
  cursor: pointer;
} 

#devJourneyNavbarr {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.26);
}

