.expandHeader {
  height: 11.5rem;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  z-index: 10;
}

.expandHeader h2 {
  color: #ffffff;
  text-align: center;
}
.home-img {
  opacity: 1;
}
.link:hover {
  opacity: 0.8;
  transition: opacity 0.2s ease-in;
}
.disabledLink {
  opacity: 0.6;
}
.home-icon {
  opacity: 0.8;
}
.hdr-nv {
  display: flex;
  align-items: center;
  height: 4rem;
  padding: 0.5rem 4.2rem;
  position: fixed;
  width: 100%;
  transition: all 0.3s ease-in;
}
.home-header-bg-image .nav-sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  display: flex;
  align-items: center;
  height: 4rem;
  background-color: #474a68;
  /* padding: 0.5rem 3.8rem; */
  min-height: 4rem;
  transition: height 0.3s ease-in;
}

.headerr {
  min-height: 5rem;
  width: 100%;
  padding: 1rem 4rem;
  background-image: linear-gradient(316deg, #78829f, #242241);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  transition: all 1s ease;
}

.align-header {
  display: flex;
  justify-content: space-between;
}

.headerr-heading {
  font-size: 1.5rem;
  font-weight: 200;
  text-align: center;
  color: #ffffff;
  margin-bottom: 1rem;
  opacity: 0.6;
}

.login-btn-hover {
  width: 6rem;
  height: 2rem;
  margin: 0.2rem 0.35rem;
}
.login-btn-hover:hover {
  cursor: default;
  filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.9));
  transition: 0.2s ease-in;
}

.max-width-header {
  max-width: 74rem;
}

.header-burger {
  display: none;
}

.navbar-brand {
  margin-right: -0.5rem !important;
}
.navbar-header {
  display: flex;
 
}

.beta-cont {
  margin-top: 0.3rem;
}

.login-details {
  display: flex;
  margin-top: 3px;
}

.user-details {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-size: 12px;
  color: #f8f8f9;
}

.user-post {
  opacity: 0.5;
  font-size: 9px;
  color: #f8f8f9;
}

.user-pic {
  display: none;
  width: 1.875rem;
  height: 1.875rem;
  margin-top: -0.3rem;
}

.user-pic img {
  width: 100%;
  height: 100% !important;
}

.header-fig {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1.2rem;
  text-decoration: none;
  position: relative;
}

.header-right link {
  text-decoration: none;
  color: #fff;
}

.header-right figcaption {
  text-decoration: none;
  color: #fff;
  font-size: 0.875rem;
}

.search-header {
  display: none;
}

.link {
  opacity: 0.6;
}

.hdr-nv .highlight {
  opacity: 1 !important;
}

.header-fig-journey {
  position: relative;
}
.dynamic-seaech-bar{
  width:1vh;
}



