.notFoundDiv {
    margin: 0 auto;
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80rem;
    padding: 11rem;
}

.nf-404-title {
    font-family: "Roboto";
    font-size: 8rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.nf-404-subtitle {
    font-family: "Roboto";
    font-size: 2rem;
}

.nf-404-sub {
    font-size: 0.87rem;
    font-weight: bold;
    color: #767676;
}

.nf-404-cont {
    margin-top: 1rem;
}

.nf-404-cont ul {
    list-style-type: none;
    padding-left: 0;
}

.nf-404-link {
    color: #767676;
}