.blog-home-main-section {
  margin-top: 4rem;
}

.maindiv {
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
  width: 100%;
}

.maindiv-bgcolor {
  background-color: #f9f9f9;
}

.bloghome-right {
  width: calc(100% - 24.6rem);
  padding: 0 1rem;
}

.bloghome-left {
  width: 24.6rem;
  padding: 0 1rem;
}

.page {
  font-family: "Oxygen";
  font-size: 0.813em;
  font-weight: bold;
  word-spacing: 0.8rem;
  color: #7a7979;
  text-align: center;
  margin: 1.5rem 0 3rem 0;
  cursor: pointer;
}

.page span {
  color: #e10074;
}

.page span:nth-child(1) {
  text-decoration: underline;
}

.max-width-blog {
  width: 74rem;
  margin: 0 auto;
}