/*to fill the gap above event carosel in homedoc remove this if blogs need to be displayed in homedoc*/
.rightSideCarousel {
  display: none;
}

.rightSideCarousel .slick-prev {
  left: 0;
}
.rightSideCarousel .slick-next {
  right: 0;
}

.rightSideCarousel-Slider {
  width: 18rem;
  /* height: 8em; */
  border-radius: 0.313rem;
  margin: 0 1rem 0.8rem 1rem;
  position: relative;
}

.rightSideCarousel-Slider .slick-dots li button:before {
  color: #ffffff;
  opacity: 0.5;
  font-size: 0.5625rem;
  line-height: 0.3125rem;
}
.rightSideCarousel-Slider .slick-dots li {
  margin: 0 0.1rem;
}
.rightSideCarousel-Slider .slick-dots li.slick-active button:before {
  color: #ffffff;
  opacity: 1;
}

.empty-blog-icon {
  width: 4rem;
  height: 4rem;
}

.empty-blog-div {
  height: 13.3rem;
  clip-path: polygon(100% 0, 100% 88%, 91.5% 100%, 0 100%, 0 0);
  background-color: #ffffff;
  border: 1.5px solid #f10f85;
  z-index: 5;
}

.gradientt {
  position: absolute;
  top: 0;
  width: 17.9rem;
  height: 12.5rem;
  border-radius: 0.313rem;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(162, 10, 90, 0.67) 98%,
    #f10f85
  );
}