.tag-title {
  font-family: "Roboto";
  font-size: 1.125rem;
  font-weight: bold;
  color: #4a4a4a;
  text-transform: uppercase;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
}

.tags-span {
  padding: 0.8rem 1.5rem;
  margin: 0.2rem 0.4rem 0.2rem 0;
  background-color: #f2f2f2;
  font-family: "Roboto";
  font-size: 0.75rem;
  font-weight: 600;
  text-align: center;
  color: #4a4a4a;
  cursor: pointer;
}

.tags-span:hover {
  background-color: #e20074;
  color: #fff;
  transition: all 0.5s ease;
}
