.title {
  font-family: "Roboto";
  font-size: 1.125rem;
  font-weight: bold;
  color: #4a4a4a;
  /* margin: 1.5rem 0; */
  text-transform: uppercase;
}

.recent-blogs .section {
  display: flex;
  margin: 1.5rem 0;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
}

.recent-post-img {
  width: 8.4rem;
  height: 6rem;
}

.recent-post-img img {
  height: 100%;
  width: 8.4rem;
  object-fit: cover;
  border-radius: 3px;
}

.recent-blogs .section .subsection {
  margin-left: 2rem;
}

.ss-category {
  font-family: "Roboto";
  font-size: 0.75rem;
  line-height: 1.83;
  color: #e10074;
}

.ss-title {
  font-family: "Roboto";
  font-size: 1rem;
  line-height: 1.3;
  color: #4a4a4a;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  max-height: 2.6rem;
}

.ss-details {
  font-family: "Roboto";
  font-size: 0.75rem;
  line-height: 1.83;
  color: #979797;
  position: absolute;
  bottom: 0.2rem;
}

/* .recent-blogs div:nth-child(2) a:nth-child(3) .recent-post-img img{
  width: 8.4rem !important;
} */

.section:hover .recent-post-img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.recent-post-img {
  transition: all 0.4s ease;
}

.section:hover .ss-title {
  color: #e20074;
  transition: all 0.3s ease;
}

/* .recent-post-img {
  overflow: hidden;
} */
