.simple-header-con {
    width: 100%;
    background: #e33c75;
    position: fixed;
    top: 0;
    z-index: 1;
}

.simple-header-wrap {
    max-width: 1280px;
    margin: auto;
    padding: 6px;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: -ms-flexbox;
    display: flex;
    background: #e33c75;
}
.sh-logo-wrap {
    padding-right: 20px;
    border-right: 1px solid #fff;
}