.carousel-element {
  height: 100%;
  display: flex;
  justify-content: center;
  color: #f9f9f9;
  background: #f10f85;
  font-size: 1rem;
  padding: 0.6rem 1.5rem 3rem 1.5rem;
  text-align: center;
  line-height: 1.25rem;
}

.caroselTextWrapper {
  width: 80%;
}
