:root {
  --magenta-color: #e20074;
  --dark-magenta: #ba0060;
  --very-dark-magenta: #a10053;
}

.dark-magenta {
  color: var(--dark-magenta) !important;
}

.Modal {
  position: absolute;
  top: 7.5rem;
  left: 6.25rem;
  right: 6.25rem;
  bottom: 3.125rem;
  background-color: #ffffff;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.4s;
}
.ReactModal__Content {
  box-shadow: none;
  border-radius: 0.375rem;
  overflow: hidden;
  height: 80vh;
  min-height: 31.25rem;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.4);
  z-index: 6;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.4s;
}
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.ReactModal__Body--open {
  overflow-x: hidden;
  overflow: hidden;
}

.closebtn {
  position: absolute;
  top: 1px;
  margin-top: -3px;
  right: 1.525rem;
  font-size: 2.25rem;
  margin-left: 3.125rem;
  background-color: rgb(0, 0, 0, 0);
  border: none;
}


.closebtn:focus {
  outline:0;
}

.closebtn-img {
  width: 1rem;
}
.iframe-size {
  width: 100%;
  height: calc(100% - 44px);
  border: 0;
}

.iframe_spinner {
  text-align: center;
}

.commonPageHeader {
  /*background-color: #f9f9f9;*/
  text-align: left;
  padding: 0.625rem 0px 0.625rem 2.5rem;
  position: relative;
  overflow: hidden;
}

.modalHeaderColor {
  background-color: #f9f9f9;
}

.modalFooter {
  text-align: left;
  margin-top: -7px;
  padding: 1.25rem 0px 0px 0px;
  position: relative;
  overflow: hidden;
}

.page-title {
  font-family: "NunitoBold", Arial, sans-serif;
  font-size: 1rem;
  display: inline-block;
  text-align: left;
  line-height: 1.125rem;
  vertical-align: top;
  padding-top: 0.9375rem;
  padding-left: 0.3125rem;
}

.modal-title {
  margin-left: 0.625rem;
}

.modal-image-card-back {
  width: 2.5rem;
  height: 2.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.2s ease-in-out;
}

.modal-custom-logo {
  font-size: 1.25rem;
  color: #ffffff;
  padding: 0;
  margin-left: 0.625rem;
  text-transform: uppercase;
}

.modal-card-img img {
  margin-top: 2px;
}
