.connect {
  width: 100%;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 22.625rem;
  padding: 2rem 0rem;
}

.connect_title {
  height: 0.813rem;
  font-size: 0.688rem;
  font-weight: 500;
  letter-spacing: 0.057rem;
  text-align: center;
  color: #f10f85;
}

.connect_subtitle {
  font-family: "Roboto";
  font-size: 1.875rem;
  font-weight: 200;
  line-height: 1.53;
  text-align: center;
  color: #4a4e57;
  width: 30.25rem;
}

.connect_channel {
  opacity: 0.5;
  font-family: "Source Sans Pro";
  font-size: 0.875rem;
  text-align: center;
  color: #4a4e57;
  margin: 2rem 0 1rem 0;
}

.connect_btn_div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.connect_btn {
  width: 10.625rem;
  height: 2.813rem;
  border: none;
  border-radius: 0.313rem;
  background-color: #ffffff;
  margin: 0.2rem;
  cursor: pointer;
  box-shadow: 0 2px 0.5rem 0 rgba(0, 0, 0, 0.1);
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  transition: all 0.3s ease-in;
}

.connect_btn:hover {
  box-shadow: 0 2px 0.5em 0 rgba(0, 0, 0, 0.3);
}

.connect_btn_img {
  width: 1.2rem;
  height: 1.2rem;
  background-color: #ffffff;
  margin-right: 0.3rem;
}

.connect_btn_img img {
  width: 100%;
  height: 100%;
}

.connect_btn span {
  font-family: "Roboto";
  font-size: 0.938rem;
  font-weight: 900;
  letter-spacing: 1px;
  text-align: center;
  cursor: pointer;
  color: #3d434d;
  display: inline-block;
  line-height: 23px;
}
.home-pg {
  display: flex;
  flex-direction: column;
}
