.categoryList{
    margin-top: 3rem;
    padding-left: 5.3rem;
    width: 100%;
}

.categoryList ul, .categoryList li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.categoryList ul .links{
    width: 14rem;
    font-size: 0.87rem;
    padding: 0.5rem 1.5rem 0.5rem 0;
    line-height: 3;
    color: #4a4e57;
    border-bottom: 1px solid transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.categoryList ul .active{
    color: #e20074;
}

.categoryList ul .links:hover{
    color: #e20074;
    cursor: pointer;
}

.categoryList .links .arrowRight{
    width: 0.4375rem;
    height: 5px;
    display: flex;
    transform: rotate(270deg);
}

.categoryList .links .arrowRight img{
    width: 100%;
    height: 100%;
}

.categoryList .catTitle{
    position: relative;
    display: flex;
    justify-content: space-between;
    color: #4a4e57;
    font-size: 0.75rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 1rem;
    align-items: center;
}

.toolsNDoc {
    position: relative;
}

.devJourneyNavEvent {
    position: absolute;
    top: 3rem;
    left: -17.4rem;
}

.toolsNDoc .collapse-btn {
    position: relative;
    left: 0.5rem !important;
    margin-left: 0px;
}

.collapseJourneyEvent {
    transform: translateX(101%) !important;
    opacity: 1;
    z-index: 3;
    transition: all 0.3s ease;
}

.devJourneyNavb-hidden {
    position: absolute;
    left: -17rem;
}

/* .display-none-devBtn {
    display: none !important;
} */

.categoryList .collapse-btn-event {
    z-index: 4;
    position: absolute;
    /* right: unset; */
    transform: translateX(0%);
    transition: all 0.3s ease;
    left: -4.3rem;
    cursor: pointer;
}

.categoryList .btn-positn {
    z-index: 4;
    position: absolute;
    /* right: 2rem;
    left: unset; */
    transform: translateX(630%);
    transition: all 0.3s linear;
}
/* .catTitle {
    display: flex;
} */

/* .toolsNDocsLeft{
    display: flex;
}

.displayNone {
    display: none;
}

.devJourneyNavEvent {
    position: relative;
    left: -17rem;
} 

.collapseJourneyEvent {
    position: relative;
    left: 0rem;
}

.categoryList {
    position: relative;
    right: 16rem;
} */

.security-markdown .devJourneyNavEvent {}
