.aboutUs-bg {
  background-color: #fff;
}
.homepage_about {
  width: 100%;
  background-color: #fff;
  padding: 8rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.about_title {
  font-family: "Work Sans";
  font-size: 1rem;
  font-weight: bold;
  color: #e10074;
  text-transform: uppercase;
}

.about_subtitle {
  font-family: "Source Sans Pro";
  font-size: 2.5rem;
  font-weight: 200;
  color: #4a4a4a;
}

.about_text {
  font-family: "Source Sans Pro";
  font-size: 1rem;
  line-height: 1.5;
  color: #4a4a4a;
}

.about_left {
  flex-basis: 50%;
}

.about_right {
  flex-basis: 35%;
  width: 25rem;
  height: 20rem;
  object-fit: contain;
}

.api-logo-image {
  width: 25rem;
  height: 20rem;
  filter: drop-shadow(0 6px 20px rgba(151, 151, 151, 0.2));
}
