.template-div {
  width: 100%;
  padding: 1rem 0 0 0;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.tempdiv {
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.375rem 0 rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 0;
  padding: 1rem 0;
  transition: all 0.2s ease-in-out;
}

.tempdiv:hover {
  box-shadow: 0 0.525rem 0.85rem 0 rgba(0, 0, 0, 0.1);
}
.icondiv {
  flex-basis: 9%;
  height: 3.375rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  transition: all 0.2s ease-in-out;
}
.icondiv img {
  height: 100%;
  cursor: pointer;
}
.tempdiv:hover .icondiv {
  transform: scale(1.1);
}
.textdiv {
  flex-basis: 80%;
  line-height: -0.625rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  margin-top: 1.1rem;
}
.temp-title {
  font-family: "Roboto";
  font-size: 0.938rem;
  color: #242241;
  margin: 0%;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s ease-in-out;
}
.temp-text {
  opacity: 0.5;
  font-family: "Roboto";
  font-size: 0.75rem;
  line-height: 1.5;
  color: #000000;
  margin: 0%;
}
.tempdiv:hover .temp-title {
  color: #f10f85;
}
.arrowdiv {
  flex-basis: 5%;
}
.arrowdiv img {
  cursor: pointer;
}

.result-not-found{
  min-height: 5rem;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4a4e57;
}