.home-container {
  width: 100%;
  overflow: hidden;
}
.home-button {
  display: flex;
  justify-content: center;
  background-color: #e20074;
  margin: 2rem;
  text-decoration: none;
  width: auto;
  color: black;
}

.home-button-link {
  text-decoration: none;
}

.api-text {
  font-family: "Roboto";
  font-size: 0.875rem;
  letter-spacing: 0.013rem;
  text-decoration: none;
  color: white;
}
.api-text:hover {
  text-decoration: none;
  color: white;
}
.api-rectangle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 2rem;
  cursor: default;
  border-radius: 0.313rem;
  background-color: #464a68;
  margin: 0.2rem 0.35rem;
  text-align: center;
  padding: 0.2rem;
}

.api-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 9em);
  width: 100%;
}

.main-section-home {
  display: flex;
  justify-content: center;
  padding: 5rem 0px;
  max-width: 85rem;
  background-color: #f9f9f9;
}

.main-card-section-home {
  flex-basis: 83%;
  margin-top: 0;
}
.carousel-section-home {
  flex-basis: 17%;
}

/* Tooltips Css */

.introjs-tooltip {
  min-width: 19.5rem;
  font-family: Roboto;
  opacity: 1;
  animation: fadeInOpacity 0.3s 1;
  -webkit-animation: fadeInOpacity 0.3s 1; /* Safari 4+ */
  padding: 0;
  transition: none;
}

@keyframes fadeInOpacity {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeInOpacity {
  0%   { opacity: 0; }
  20% { opacity: 0; }
  40%   { opacity: 0.5; }
  60% { opacity: 0.5; }
  80%   { opacity: 1; }
  100%   { opacity: 1; }
}


.introjs-tooltiptext {
  padding: 1rem;
  margin-top: 2rem;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.43;
  color: #9b9b9b;
  min-height: 7rem;
}
.introjs-skipbutton {
  box-sizing: content-box;
  margin-right: 5px;
  color: #7a7a7a;
  position: absolute;
  right: 0;
  top: 0;
}
.introjs-prevbutton.introjs-fullbutton {
  border: none;
}
/* .introjs-helperNumberLayer {
  display: none !important;
} */

.introjs-button {
  border: none;
  text-shadow: none;
  color: #fff;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.06rem;
}
.introjs-prevbutton {
  font-family: "Roboto";
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 2px;
}
.introjs-nextbutton {
  background: #E20074;
  font-family: "Roboto";
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 2px;
}
.introjs-skipbutton,
.introjs-donebutton {
  font-family: "Roboto";
  font-size: 0.75rem;
  color: #9b9b9b;
  padding: 1rem;
  background: none;
  width: 1rem;
  
}
.introjs-skipbutton,
.introjs-donebutton:hover {
  color: #9b9b9b;
}

.introjs-button:focus,
.introjs-button:active {
  background-image: none;
  outline: none;
}
.introjs-nextbutton:hover {
  color: #fff;
}
.introjs-button:hover {
  border-color: none;
  box-shadow: none;
}
.introjs-prevbutton {
  color: #000;
}
.introjs-prevbutton:hover {
  color: #000;
}
.introjs-bullets {
  text-align: center;
  position: absolute;
  border: 1.5rem;
  z-index: 9;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}
.introjs-bullets ul:focus {
  outline: none;
}
.introjs-tooltipbuttons {
  display: flex;
  justify-content: space-between;
  text-shadow: none;
  border-radius: 5px;
  min-height: 2.75rem;
  background-color: #f9f9f9;
}

.introjs-hidden, .introjs-disabled {
  background: #eee;
  cursor: not-allowed !important;
  color: #000;
}
.introjs-hidden:hover, .introjs-disabled:hover{
  color: #000;
}

.introjs-arrow.top, .introjs-arrow.bottom{
  left: 10px;
}

.introjs-overlay{
  background-color: #0000007d;
  pointer-events: none;
}
.introjs-helperLayer{
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0);
}

.takeTour {
  position: absolute;
  left: 0rem;
  top: 0.8rem;
  font-size: 0.8rem;
  cursor: pointer;
  color: #fff;
  margin-top: 4.9rem;
  opacity: 0.6;
}

.takeTour:hover {
  opacity: 1;
}

.takeTour span{
  color: #E20074;
}

.bgcolor {
  background-color: #f9f9f9;
}

.introjs-helperNumberLayer {
  background: #ec1e50;
}

.introjs-bullets ul li a:focus, .introjs-bullets ul li a:active{
 outline: none;
}
.introjs-bullets ul li:focus, .introjs-bullets ul li:active{
  outline: none;
}

.lifeCycleHilightClass{
  padding-bottom: 0.7rem;
}

.last-tour-tab .introjs-nextbutton{
  display: none; 
}
.last-tour-tab .introjs-skipbutton{
  background: #E20074;
    top: inherit;
    border: none;
    text-shadow: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.06rem;
    max-height: 0.7rem;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.devJourney-tour {
  cursor: pointer;
}

.home-container .devJourney-tour {
  z-index: 2;
  position: absolute;
  top: 13.563rem;
  /* left: 0;
  right: 0; */
  transform: translateX(0%);
  transition: all 0.5s ease;
}
.home-container .devJourney-tour-posin {
  transform: translateX(627%);
  /* left: 12.12%; */
  z-index: 4;
  transition: all 0.5s ease;
}

.devJourneyNavHome {
  transform: translateX(0);
  top: 7.5rem !important;
  transition: all 0.5s ease;
}

/* .devJourneyNavb .devSide-minHeight {
  min-height: 32rem;
} */

/* .devJourneyNavb .collapse-btn {
  display: none !important;
} */

.tooltip {
  /* position: relative; */
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  /* visibility: hidden; */
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  /* position: absolute; */
  z-index: 100;
}

/* .tooltip:hover .tooltiptext {
  visibility: visible;
} */

#devJourney-tour img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.takeTour {
  display: inline-block;
  border-color: #e20074;
  transition: all 0.5s ease;
}
.takeTour .tooltiptext {
  visibility: hidden;
  width: 5.5rem;
  background-color: #e20074;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 22%;
  left: 105%;
}
.takeTour:hover .tooltiptext {
  visibility: visible;
}
.takeTour .tooltiptext::before {
  content: "";
  position: absolute;
  top: 30%;
  left: 0%;
  margin-left: -10px;
  border-width: 5px;
  border-style: solid;
  transform: rotate(90deg);
  border-color: #e20074 transparent transparent transparent;
}


.collapse-btn-event {
  position: relative;
  display: inline-block;
  border-color: #e20074;
  transition: all 0.5s ease;
}
.collapse-btn-event .tooltiptext {
  visibility: hidden;
  width: 9.5rem;
  background-color: #e20074;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 5px 0;
  font-size: 13px;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 22%;
  left: 105%;
}
.collapse-btn-event:hover .tooltiptext {
  visibility: visible;
}
.collapse-btn-event .tooltiptext::before {
  content: "";
  position: absolute;
  top: 30%;
  left: 0%;
  margin-left: -10px;
  border-width: 5px;
  border-style: solid;
  transform: rotate(90deg);
  border-color: #e20074 transparent transparent transparent;
}

.dev-tours {
  position: relative;
}

.dev-tour .devJourney-title{
  opacity: 1;
}

.takeTour, .collapse-btn-event {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  z-index: 12;
  cursor: pointer;
}

.takeTour img {
  width: 100%;
  height: 100%;
}

.dev-tours .devJourneyNav {
  position: absolute;
  top: 6.5rem;
  z-index: 5;
}

.dev-tours .collapseJourney .devsidenav-buttons {
  display: none;
}

.dev-tours .collapseJourneyEvent {
  transform: translateX(0%) !important;
}

.dev-tours .collapseJourney .collapse-btn {
  left: -6.1rem;
}

.dev-Journey-arrow {
  position: absolute;
  z-index: 10;
}

#devJourneyNavbarr {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.26)
}

#devJourneyNavb {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.26)
}

.nav-expanded.devJourneyNav {
  z-index: 11 !important;
}


.home-container .devJourneyNavbr {
  height: calc(100vh - 12.3rem);
}