.TryITOutSlider {
  width: 18rem;
  border-radius: 0.313rem;
  margin: 0 1rem 1rem 1rem;
  position: relative;
}

.show-button {
  min-height: 3.5rem;
  font-size: 0.75rem;
  color: #e20074;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #f9f9f9;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #d9dbdf;
}

.try-out-show-container {
  margin-bottom: 0.5rem;
  transition: all 0.2s ease;
}

.try-out-show__heading {
  background: #f10f85;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 0.313rem;
  border-top-right-radius: 0.313rem;
  text-transform: uppercase;
  height: 2.5rem;
  padding-top: 0.5rem;
}

.show-more-contents {
  /* background: #e20074; */
  transition: all 0.5s ease;
  max-height: 0px;
  overflow: hidden;
  z-index: 10;
  background: #fff;
}

.visible {
  max-height: 62.5rem;
}

.show-more-contents__element {
  display: flex;
  align-items: center;
  padding: 1.3rem;
  font-size: 0.75rem;
  box-shadow: 0 0.063rem 0 0 #eeeeee, inset 0 0.063rem 0 0 #eeeeee;
  cursor: pointer;
}

.show-more-contents__element:hover {
  background: #fff4fa;
  color: #e20074;
}

.show-more-contents__element img {
  height: 0.9rem;
  margin-right: 0.6rem;
}

.TryITOutSlider .slick-dots li button:before {
  color: #ffffff;
  opacity: 0.5;
  font-size: 0.5625rem;
  line-height: 0.3125rem;
}
.TryITOutSlider .slick-dots li {
  margin: 0 0.1rem;
}
.TryITOutSlider .slick-dots li.slick-active button:before {
  color: #ffffff;
  opacity: 1;
}

.showMoreArrow {
  margin: 0 0.3rem;
  height: 0.6rem;
  width: 0.6rem;
}

.showLessArrow {
  margin: 0 0.3rem;
  height: 0.9rem;
  width: 0.6rem;
  transform: rotate(180deg);
}

.carosal-show {
  font-size: 0.75rem;
}
