.contributers {
    width: 100%;
    height: 36.25rem;
  }
  .contributers > div:first-of-type{
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 27.438rem;
      background-color: #f3f4f6;
      align-items: center;
      padding-top: 3.125rem;
      position: relative;
  }
  .contributers > div:first-of-type >:nth-child(2){
    display: flex;
    width: 85%;
    justify-content: center;
    padding: 1.8rem 0rem;
}
.contributers > div:first-of-type >:nth-child(1){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contributer-cards{
    margin: 1em 2rem;
}
  .contributers-part2 {
    background-color: #ffffff;
    height: 8.812rem;
  }
   .car-heading {
    width: 14rem;
    height: 2.875rem;
    font-size: 1.875rem;
    font-weight: 200;
    line-height: 1.53;
    text-align: center;
    color: #4a4e57;
    padding-bottom: 0.3rem;
    padding-top: 0.2rem;
  }
  .contributers-users{
    height: 0.813rem;
    font-size: 0.688rem;
    font-weight: 500;
    letter-spacing: 0.057rem;
    text-align: center;
    color: #f10f85;
  }
  
.contributers-para{
    opacity: 0.5;
    font-size: 0.75rem;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
    word-wrap: break-word;
}
.cards-flex{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.dot1{
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #ff8880;
    border-radius: 50%;
    top: 2rem;
    right: 20rem;
}
.dot2{
    position: absolute;
    width: 11px;
    height: 11px;
    background-color: #ff4961;
    border-radius: 50%;
    left: 13rem;
    top: 7rem;
}
.dot3{
    position: absolute;
    z-index: 1;
    width: 15px;
    height: 15px;
    background-color: #bf8082;
    border-radius: 50%;
    right: 8rem;
    bottom: 1.688rem;
}
.contributers-para-cont{
    width: 24.875rem;
}


