.security-markdown .gatsby-resp-image-wrapper {
  /* margin: 2rem 0 2rem 1.5rem; */
  margin: 0 !important;
}

.breadcrumb-item + .breadcrumb-item::before {
  display: none;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: #6c757d;
  content: ">";
}

.breadcrumbb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  list-style: none;
  border-bottom: 1px solid #e9ecef;
  width: 94%;
}

.breadcrumbb .breadcrumb-flex li a::before {
  content: url("../../../../images/arrow-breadcrumb.svg") ;
  margin-right: 0.4rem;
}

/* .breadcrumb-item .breadcrumb-li:hover {
  opacity: 0.6;
} */

.breadcrumb-li {
  font-size: 0.9rem;
  line-height: 0.5!important;
  padding: 0.5em 0;
  color: #9b9b9b;
}

.breadcrumb-li a {
  color: #e20074;
  font-size: 0.8rem;
  text-transform: capitalize;
}

.breadcrumb-li a:hover {
  /* text-shadow: 0.001px 0.001px #e20074; */
  color: #ff4ba9;
  text-decoration: underline;
  transition: all 0.3s ease-in;
}

.breadcrumb-flex li:last-child a {
  cursor: default;
  font-weight: normal;
  color: #9b9b9b;
}

.breadcrumb-flex li:last-child a:hover {
  /* text-shadow: 0.001px 0.001px #e20074; */
  /* color: #ff4ba9; */
  text-decoration: none;
  transition: color 0.3s ease-in;
  color: #9b9b9b;
  text-decoration: underline;
}

.breadcrumb-flex {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.breadcrumb-img-cont {
  width: 1rem;
  height: 1rem;
  float: right;
  margin-bottom: 0.6rem;
  flex-basis: 5%;
}

.breadcrumb-img {
  width: 100%;
  height: 100%;
}
.breadcrumb-img:hover {
  cursor: pointer;
}

.right-side-padding {
  padding-top: 4.5rem;
}

.paddingRight-45 {
  /* padding-right: 4.5rem; */
  padding-right: 5rem;
}

.devJourneyComponent .breadcrumb-item + .breadcrumb-item {
  padding-left: 0;
}

.devJourneyComponent .breadcrumbb .breadcrumb-flex li:nth-child(3) {
  opacity: 0.6;
  pointer-events: none;
}

.devJourneyComponent .breadcrumbb .breadcrumb-flex li:nth-child(4) {
  opacity: 0.6;
  pointer-events: none;
}

.devJourneyComponent .breadcrumbb .breadcrumb-flex li:nth-child(2) {
  opacity: 0.6;
  pointer-events: none;
}

.devJourneyComponent .breadcrumbb .breadcrumb-flex .breadcrumb-item:last-child {
  display: none;
}

.breadcrumbb .breadcrumb-flex li:first-child a::before {
  display: none;
}

.breadcrumb-item a:hover {
  text-decoration: underline;
}

