  input {
    border: 1px solid #999;
    padding: 0.5rem;
    width: 300px;
  }
  
  .no-suggestions {
    color: #999;
    padding: 0.5rem;
    position: absolute;
    left: o;
    top: 1.8rem;
    background: white;
    width: 30rem;
  }
  
  .suggestions {
    position: absolute;
    left: o;
    top: 1.8rem;
    background: white;
    width: 30rem;
    border: 1px solid #999;
    border-top-width: 0;
    list-style: none;
    margin-top: 0;
    overflow-y: auto;
    padding-left: 0;
  }
  
  .suggestions li {
    padding: 0.5rem;
    color: #898989;
  }
  
  .suggestion-active,
  .suggestions li:hover {
    background-color: #ededed;
    color: #e20074 !important;
    cursor: pointer;
    font-weight: 500;
  }
  
  .suggestions li:not(:last-of-type) {
    border-bottom: 1px solid #999;
  }