@import "../../../../node_modules/slick-carousel/slick/slick.css";
@import "../../../../node_modules/slick-carousel/slick/slick-theme.css";


.event-box-parent {
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.15));
}

.event-box {
  width: 18rem;
  height: 13.3rem;
  border-radius: 5px;
  margin: 0 1rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  -webkit-clip-path: polygon(100% 0, 100% 88%, 91.5% 100%, 0 100%, 0 0);
  clip-path: polygon(100% 0, 100% 88%, 91.5% 100%, 0 100%, 0 0);
  z-index: 1;
  position: relative;
}

/* .event-box-border {
  background-color: #f10f85;
  position: absolute;
  z-index: 0;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 5px;
  left: 1.08rem;
  top: 1px;
  -webkit-clip-path: polygon(100% 0, 100% 88%, 91.5% 100%, 0 100%, 0 0);
  clip-path: polygon(100% 0, 100% 88%, 91.5% 100%, 0 100%, 0 0);
} */

.sub-event {
  padding: 1.5rem 1rem 0.8rem 1rem;
  position: relative;
}

.event-btn {
  width: 3.5rem;
  height: 1.188rem;
  font-weight: 100;
  align-items: center;
  font-size: 0.688rem;
  font-weight: bold;
  line-height: 1.18;
  border-radius: 2px;
  letter-spacing: 0.8px;
  text-align: center;
  margin: 2px;
  color: #ffffff;
  text-decoration: none;
}

.event-btn:hover {
  text-decoration: none;
  color: #ffffff;
}

.january-21-to-25-20 {
  width: 7.063rem;
  height: 0.813rem;
  font-size: 0.688rem;
  color: #4a4e57;
}

.event-cal {
  width: 0.825rem;
  height: 0.938rem;
  margin: 0.125rem;
  margin-right: 0.313rem;
}

.event-api {
  width: 15.188rem;
  max-height: 3rem;
  font-size: 0.938rem;
  margin: 0.4rem 0.125rem;
  margin-top: 0.9rem;
  font-weight: bold;
  color: #f10f85;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.event-pink-cal {
  width: 0.938rem;
  height: 1.063rem;
  position: absolute;
  right: 2rem;
  top: 1.8rem;
}

.event-btn {
  /* width: 3em; */
  height: 1.188rem;
  border-radius: 2px;
  padding: 0.25rem 0.4rem;
  padding-left: 0.5rem;
  background-color: #ec1e50;
}

.event-location {
  width: 0.707rem;
  height: 0.975rem;
  margin-left: 0.188rem;
  margin-right: 0.438rem;
  margin-top: 0.25rem;
}

.hyatt {
  width: 12.5rem;
  height: 0.813rem;
  font-size: 0.688rem;
  color: #4a4e57;
}

.event-mask {
  width: 100%;
  height: 4rem;
  background-size: cover;
  border-radius: 0.625rem;
  background-image: url("../../../images/events-pattern@2x.jpg");
  position: absolute;
  top: 10.5rem;
  z-index: -1;
}

.event-box .uppercase {
  text-transform: uppercase;
}

.margin-top {
  margin-top: 0.3rem;
}

.padding-bottom {
  padding-bottom: 1.8rem;
}

.event-box-parent:hover {
  filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.15));
  transition: all 0.2s ease-in;
}

.empty-event-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: 0.5rem;
  height: -webkit-fill-available;
}

.empty-event-icon {
  width: 7rem;
}

.empty-event-title {
  margin: 0.5rem 0 0 0;
  font-family: "Roboto";
  font-size: 1.2rem;
  color: #4a4e57;
  font-weight: normal;
}

.empty-event-subtitle {
  margin: 0.3rem 0 0 0;
  font-family: "Roboto";
  font-size: 0.89rem;
  color: #4a4e57;
  font-weight: normal;
}