.header-nav {
  display: flex;
  align-items: center;
  height: 5rem;
  background-color: #474a68;
  padding: 0.5rem 4rem;
}

.right-flexx {
  display: flex;
  align-items: center;
}

.to-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo-new {
  height: 2.5rem;
  width: 12rem;
  background: transparent;
  transition: all 0.2s ease;
}
.nav-sticky .logo-new {
  background: transparent;
  /* width: 10rem; */
  /* height: auto; */
  transition: all 0.2s ease-in;
}
.header-icon {
  height: 1.3rem;
  margin: 0.5rem 0.595rem;
  transition: all 0.2s ease-in;
}

.header-icons:nth-child(1):hover {
  transition: all 0.3s ease-in;
  opacity: 1;
}
/* .header-icon:hover{
  transition: all .2s ease;
  opacity: 1;
} */
.nav-sticky .header-icon {
  /* height: 1.2rem; */
  transition: all 0.2s ease-in;
}

.header-icons {
  /* margin: 0 1rem; */
  display: flex;
}

.search-rectangle {
  /* border: solid 1px #ffffff9d; */
  /* width: 5rem; */
  background: transparent;
  position: relative;
  height: 2rem;
  border-radius: 5px;
  opacity: 0.6;
  display: flex;
  align-items: center;
  margin: 0.2rem 0.35rem 0.3rem 0.7rem;
  padding-right: 0.5rem;
  transition: all 0.2s ease-in;
}
.search-rectangle:hover {
  opacity: 0.8;
}
.nav-sticky .search-rectangle {
  /* height: 1.8rem; */
  transition: all 0.2s ease-in;
}
.search-icon {
  width: 1rem;
  cursor: pointer;
  margin: 0.2rem;
}
.search-text {
  background: transparent;
  padding: 0.2em;
  border: none;
  width: 0rem;
  border-radius: 0.15em;
  font-family: "Roboto";
  font-size: 1rem;
  line-height: 1.29;
  color: #ffffff;
  transition:  0.4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
}

.search-rectangle .search-text {
  color: #ffffff;
  overflow: hidden;
}
.disabledLink {
  cursor: none;
  cursor: default;
}

.search-text:focus {
  outline: none;
}

.search-rectangle ::placeholder {
  font-family: "Roboto";
  font-size: 0.875rem;
  font-weight: 300;
  opacity: 0.7;
  line-height: 1.29;
  color: #ffffff;
  margin: 0.5rem;
  margin-left: 0rem;
  padding-bottom: 0.2rem;
}
.login-rectangle {
  width: 100%;
  height: 100%;
  border-radius: 0.313rem;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 0,
    100% 80%,
    89% 100%,
    30% 100%,
    0 100%,
    0 0
  );
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 0,
    100% 80%,
    89% 100%,
    30% 100%,
    0 100%,
    0 0
  );
}
.login-rectangle-cont {
  position: relative;
  width: 6rem;
  height: 2rem;
  margin: 0.2rem 0.35rem;
}
.nav-sticky .login-rectangle {
  /* height: 1.8rem; */
  transition: all 0.2s ease;
}
.login-text {
  font-family: "Roboto";
  font-size: 0.875rem;
  letter-spacing: 0.013rem;
  color: #535876;
}
.login-text {
  font-family: "Roboto";
  font-size: 0.875rem;
  letter-spacing: 0.013rem;
  color: #535876;
}
.working-group {
  font-size: 0.75rem;
  font-weight: bold;
  color: #4a4e57;
}
.home-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-header-bg {
  background-image: linear-gradient(316deg, #474a68, #474a68);
  height: 40.6rem;
}
.home-header-bg-image {
  background: url("../../images/bg-main-code.svg");
  background-size: cover;
  height: 40.6rem;
}
.home-header-bg header {
  background: transparent;
  box-shadow: none;
  z-index: 10;
}
.one-stop-container {
  height: 3.3rem;
  overflow: hidden;
  margin: 0.8rem;
}
.one-stop {
  font-family: "Roboto";
  font-size: 2.5rem;
  font-weight: 200;
  line-height: 1.5;
  color: #ffffff;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
}
.one-stop-text {
  position: relative;
  left: 1.8rem;
  font-weight: 100;
}
.one-stop-list {
  color: #ff0085;
  list-style: none;
  animation-name: change;
  animation-duration: 13s;
  animation-iteration-count: infinite;
}
.one-stop-list-item {
  line-height: 2.9rem;
  margin-top: 0.5rem;
  font-weight: 300;
}
@keyframes change {
  0%,
  8.5%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  12.5%,
  21% {
    transform: translate3d(0, -20.5%, 0);
  }
  25%,
  33.5% {
    transform: translate3d(0, -41%, 0);
  }
  37.5%,
  46% {
    transform: translate3d(0, -62%, 0);
  }
  50%,
  58.5% {
    transform: translate3d(0, -82.5%, 0);
  }
  62.5%,
  71% {
    transform: translate3d(0, -62%, 0);
  }
  75%,
  83.5% {
    transform: translate3d(0, -41%, 0);
  }
  87.5%,
  96% {
    transform: translate3d(0, -20.5%, 0);
  }
}
.welcome-to-tmobile {
  font-size: 1.7rem;
  font-weight: 100;
  color: #f8f8f9;
  margin: 0;
}
.header-blog-div {
  position: relative;
  width: 40rem;
  height: 13rem;
  margin-top: 2.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  clip-path: polygon(
    5% 0%,
    100% 0%,
    100% 90%,
    95% 100%,
    100% 100%,
    0% 100%,
    0% 10%
  );
  transition: all 0.6s ease-in;
}
.header-blog-div-overlay {
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background-color: #242241;
  border-top-right-radius: 0.6rem;
  border-bottom-left-radius: 0.6rem;
}
.header-blog-div-content {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 1rem 0rem;
  justify-content: space-between;
  align-items: center;
}
.header-blog-div-content > div{
  width: 100%;
  height: 100%;
}
.header-blog-icon-img {
  cursor: pointer;
  height: 1.4rem;
  margin-bottom: 0.5rem;
  justify-content: center;
  background-color: #ff8880;
  display: flex;
  padding: 0.4rem;
  border: none;
  align-items: center;
  border-radius: 1.57px;
}
.header-blog-icon-img:hover {
  transition: all 0.2s ease-in;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.4);
}
.blog-btn-txt {
  color: #ffffff;
  font-size: 0.75rem;
  font-weight: 600;
}
.blog-btn-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.rest-api {
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  opacity: 0.9;
}
.header-blog-para {
  font-family: "Roboto";
  font-size: 0.813rem;
  line-height: 1.3rem;
  color: #ffffff;
  padding: 0.3rem 3rem;
  font-weight: 300;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  margin-bottom: 0;
}
.header-read-more {
  width: 10rem;
  opacity: 0.8;
  height: 2.2rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.8rem;
  background-color: #242241;
  font-size: 0.7rem;
  font-weight: bold;
  letter-spacing: 0.8px;
  color: #ffffff;
  cursor: pointer;
  text-transform: uppercase;
}
.header-read-more.lighter {
  color: lighten(#242241, 80%);
}

.header-read-more span {
  z-index: 2;
}
.header-read-more:hover {
  color: #ffffff;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
  transition: all 0.2s ease-in;
}
.api-lifecycle {
  font-family: "Roboto";
  font-size: 1.125rem;
  font-weight: 300;
  color: #f8f8f9;
  padding: 2.8rem 0rem 1rem 0rem;
  transition: all 0.6s ease-in;
}
.header-navigation {
  display: flex;
  align-items: center;
  position: relative;
  max-height: 6rem;
  transition: all 0.3s linear;
}
.capitalize {
  text-transform: uppercase;
}
.header-nav-icon {
  width: 4rem;
  height: 4.5rem;
  cursor: pointer;
  /* transition: all 0.2s linear; */
}
.arrow-img {
  width: 7rem;
  height: 0.5rem;
  position: relative;
  top: 2rem;
  transition: all 0.2s linear;
  animation-name: fadeInArrow;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
}
@keyframes fadeInArrow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
figure {
  margin: 0;
}
.hdr-nv {
  background-color: transparent;
  /* transition: all 0.3s ease-in; */
}
.header-navigation .renderList figure figcaption {
  font-family: "Roboto";
  font-size: 0.75rem;
  letter-spacing: 0.2px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 0.8rem;
  position: absolute;
  width: 6rem;
  left: 50%;
  transform: translateX(-47%);
}

.sticky-navigation .renderList figure figcaption {
  margin-top: 0.3rem;
  position: relative;
  width: auto;
  white-space: nowrap;
  left: 0;
}
.header-navigation figure {
  position: relative;
  z-index: 2;
  /* display: flex; */
  /* flex-direction: column;
    justify-content: center;
    align-items: center; */
}
.nav-active-background,
.nav-subactive-background {
  z-index: -2;
}
.nav-active-background .hoverHexagon {
  width: 6rem;
  height: 6.5rem;
  position: absolute;
  top: -1rem;
  left: -1rem;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  z-index: -2;
}
.nav-subactive-background .hoverHexagonOuter {
  width: 8rem;
  height: 9.5rem;
  position: absolute;
  top: -2.5rem;
  left: -2rem;
  opacity: 0;
  -webkit-transition: all 0.7s ease-in;
  transition: all 0.7s ease-in;
  z-index: -2;
}
.nav-subactive-background,
.nav-active-background {
  display: flex;
}
.header-navigation figure:hover .header-nav-icon {
  z-index: 5;
  display: block;
}
.header-navigation figure:hover .hoverHexagon {
  opacity: 0.7;
  z-index: -2;
  transition: all 0.5s ease-in;
}
.header-navigation figure:hover .hoverHexagonOuter {
  opacity: 0.5;
  z-index: -1;
  transition: all 0.7s ease-in;
}
.renderList {
  display: flex;
  /* align-items: center; */
  /* position: relative; */
}
.header-navigation .renderList:nth-of-type(1) .tooltip-container,
.header-navigation .renderList:nth-of-type(2) .tooltip-container,
.header-navigation .renderList:nth-of-type(3) .tooltip-container,
.header-navigation .renderList:nth-of-type(4) .tooltip-container {
  left: -15rem;
}
.add-header-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5em !important;
}
.nav-area-background {
  width: 12rem;
  height: 12.5rem;
  position: absolute;
  top: -3rem;
  left: -3rem;
  -webkit-clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%
  );
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  opacity: 0;
  background-color: transparent;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.nav-area-background {
  display: none;
}
.header-navigation figure:hover .nav-area-background {
  display: block;
  opacity: 0.2;
  z-index: -1;
}
.sticky-navigation {
  position: fixed;
  height: 3.7rem;
  top: 3.95rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 10;
  opacity: 0.95;
  background-color: #474a68;
  transition: all 0.1s linear;
  padding-top: 1.5rem;
}
/* .header-navigation.sticky-navigation {
  transform: translateY(-50px);
  background-image: linear-gradient(to left, #242241, #242241);
  opacity: 0.9;
  height: 4em;
} */
.header-navigation.sticky-navigation figure {
  /* display: flex;
  align-items: center;
  justify-content: space-evenly; */
  margin: 0;
}
.header-navigation.sticky-navigation .header-nav-icon {
  transition: none;
  -webkit-transform: scale(0.5) translateX(-4rem);
  transform: scale(0.5) translateX(-4rem);
  /* animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s; */
}

.nav-caption {
  transition: none;
  left: 0;
}

.header-navigation.sticky-navigation .nav-caption {
  transform: translate3D(-1.4rem, -5.1rem, 0);
  top: 2rem;
  left: 2rem;
}

.header-navigation.sticky-navigation figcaption {
  font-weight: 500;
  margin-top: 0;
  margin-left: 1rem;
  /* transition: all 0.3s ease-in; */
  /* animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.7s; */
}
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.header-navigation.sticky-navigation figure:hover .nav-subactive-background,
.header-navigation.sticky-navigation figure:hover .nav-active-background,
.header-navigation.sticky-navigation figure:hover .nav-area-background {
  display: none;
}
.header-navigation.sticky-navigation .arrow-img {
  bottom: 0;
  width: 5rem;
  margin: 0 1.5rem;
  transition: all 0.2s linear;
  /* animation-name: fadeInArrow; */
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
}
@keyframes fadeInArrow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.header-navigation.sticky-navigation .renderList:nth-child(3) .arrow-img {
  bottom: 0;
  /* padding-left: 1.8em; */
}
.navheader-new {
  opacity: 0;
  position: relative;
  top: 2.3rem;
  display: none;
}
.sticky-header-new {
  position: fixed;
  width: 100%;
  top: 3.9rem;
  z-index: 5;
  height: 3.7rem;
  opacity: 0.95;
  background-color: #474a68;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sticky-header-new .new-navHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sticky-header-new .new-navHeader .new-figure-navHeader {
  display: flex;
  padding: 0 0.8rem;
  padding-top: 0.8rem;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin: 0 0 1rem;
}

.sticky-header-new .new-navHeader .new-figure-navHeader .newicon-navHeader {
  width: 2.1rem;
  height: 2.1rem;
}

.sticky-header-new .new-navHeader .new-figure-navHeader figcaption {
  font-family: "Roboto";
  font-size: 0.8rem;
  font-weight: 500;
  text-align: left;
  color: #ffffff;
  padding-left: 0.8rem;
  max-width: 6.6rem;
  white-space: nowrap;
}

.navbar-header {
  display: flex;
}

.beta-cont {
  margin-top: 0.3rem;
}

.event-icon {
  margin-left: 0.7rem;
}
.hide{
  display:none
}