.contributorSlider {
  height: 24rem;
  width: auto;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.contributor-name {
  width: 9.375rem;
  font-family: "Source Sans Pro";
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 0.6;
  color: #000000;
}
.right-content {
  margin-left: 1.938rem;
}
.contributor-post {
  font-family: "Source Sans Pro";
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.71;
  color: #5a6265;
}
.contributorSliderContent {
  display: flex;
  justify-content: center;
}
.contributor-img {
  width: 100%;
  object-fit: contain;
  width: 5rem;
  height: 5rem;
  object-fit: contain;
}
.contributor-desc {
  width: 31.25em;
  font-family: "Source Sans Pro";
  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #4a4a4a;
  margin: 0.6rem 0;
}

.cont-readmore-txt {
  font-family: "Source Sans Pro";
  font-size: 0.875rem;
  line-height: 1.71;
  color: #e10074;
  margin: 0.5rem 0rem;
  cursor: pointer;
}
