html {
  font-family: "Roboto";
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
  height: 100vh;
  overflow: auto;
}

body {
  margin: 0;
  font-family: "Roboto";
  /* height: 100vh; */
}

.max-width {
  max-width: 74rem !important;
  margin: 0 auto;
}

.max-width-header{
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

.home-container {
  width: 100%;
  overflow: hidden;
}

.cursor-pointer {
  cursor: pointer;
}

/* flex classes */

.nowrap-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-around {
  justify-content: space-around;
}

.flex-between {
  justify-content: space-between;
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.flex-center {
  justify-content: center;
}

.flex-align-center {
  align-items: center;
}

.flex-align-start {
  align-items: flex-start;
}

.flex-align-end {
  align-items: flex-end;
}

.flex-align-baseline {
  align-items: baseline;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-flow-wrap {
  flex-flow: wrap;
}

a:hover {
  text-decoration: none !important;
}

#myFrame {
  /* padding: 1.875rem 2.500em !important; */
  padding: 0 !important;
}

#myFrame .header-navv {
  display: none !important;
}

#myFrame .footer {
  display: none !important
}

#devJourneyNavb {
  transition: all 0.5 ease;
}

/* .home-container div div .devJourneyNavbr .devJourney-steps .collapse-btn {
  display: none;
} */

.devJourneyNavEvent {
  z-index: 3;
}

.markdown-body .gatsby-resp-image-wrapper {
  margin-left: 0 !important;
}

 /* .collapse-btn-event {
  width: 1.875rem;
  height: 1.875rem;
}

.collapse-btn-event img {
  width: 100%;
  height: 100%;
} */

/* #collapse-btn img {
  width: 100%;
  height: 100%;
} */

/* .collapse-btn-event img:hover {
  transition: all 0.3s ease;
  -webkit-box-shadow: 2px 2px 224px 45px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 224px 45px rgba(0,0,0,0.75);
   box-shadow: 2px 2px 224px 45px rgba(0,0,0,0.75);
} */