.navBarContainer{
    max-height: calc(100vh - 11.3rem);
    min-height: calc(100vh - 11.3rem);
    opacity: 0.95;
    border-radius: 0.550rem;
    padding: 1.1rem 1.5rem 1.5rem 1.5rem;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    overflow-x: hidden;
    /* background: url("../../../../../../images/Pattern_leftMenu.png"); */
    display: flex;
    flex-direction: column;
    min-height: 100%; /* cancel button will stick on the bottom*/
}

.navBarContainer::-webkit-scrollbar{
	width: 0;
}

.devJourneyNavbr{
    /* background-image: linear-gradient(to top, rgba(156, 57, 104), rgb(44, 47, 76)); */
    transition: all 0.3s linear;
    border-top-right-radius: 0.550rem;
    border-bottom-right-radius: 0.550rem;
    overflow-x: hidden;
    overflow-y: hidden;
    background-image: linear-gradient(to top, #ffffff, #eff2f5);
    height: calc(100vh - 11.3rem);
    max-height: 80vh;
}

.devJourney-title {
    position: relative;
    top: 1.65rem;
    height: 0;
    font-size: 0.8rem;
    white-space: nowrap;
}

.nav-expanded .devJourney-title, .devJourney .devJourney-title, .dev-tours .devJourney-title{
    opacity: 1;
  }

.devJourney-title, .collapseJourney .devJourney-title{
      opacity: 0;
}
  
.toolsAndDocs .devJourney-title {
    top: 1.65rem;
}

.stages{
    display: flex;
    align-items: center;
    margin: 1rem 0;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 700;
    color: #77819f;
    cursor: pointer;
}
/* .navBarContainer::-webkit-scrollbar {
    width: 1px;
}  */

.stagesLineWrap {
    position: relative;
    padding-top: 0.6rem;
}

.allStagesWrap {
    display: inline-block;
}

.stagesLine {
    width: 0.06em;
    background-color: #aeb0bf;
    /* height:100%; */
    display: inline-block;
    position: absolute;
    top: 0;
    /* bottom: 0; */
    /* top: 1.5em; */
    bottom: 1.2em;
    left: 0.57em;
}

.stages-container{
    position: relative;
}

/* .stages-container:after{ */
    /* content: '';
    width: 1px;
    height: 75%;
    border-right: 1px solid #aeb0bf;
    position: absolute;
    left: 10%;
    bottom: 0;
    opacity: 0.5;
    transform: translateY(100%); */
/* } */

.stages-container:nth-child(3):after{
    content: none;
}

.stageIcon{
    width: 1.70rem;
    height: 1.75rem;
    margin-right: 0.5rem;
}

.stageIconContent{
    width: 100%;
    height: 100%;
}

.subStages{
    display: flex;
    align-items: center;
    margin: 0.6rem 0;
    font-size: 0.85rem;
    font-weight: 400;
    padding-left: 0.25rem;
    margin-left: -0.14em;
}
.subStages:hover .subStageName{
    color: #474a68;
    transition: all 0.3 ease-in;
}
.subStages:hover .subStageNumber{
    color: #fff;
    background-color: #474a68;
}
.subStageIcon{
    width: 0.950rem;
    height: 0.950rem;
    margin-right: 0.8rem;
    margin-left: 0.25rem;
    position: relative;
}

.subStageIcon:after{
    content:'';
    border-right: 1px solid #aeb0bf;
    width: 1px;
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 100%;
    z-index: -1;
    opacity: 0.6;
}

.subStageContainer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s;
    margin-top: -15px;
}
.show{
    max-height: 100vh;
    overflow: hidden;
    transition: max-height 0.3s;
    margin-top: -15px;
}
.noContent + .stages-container{
    margin-top: -7px;
}

.noContent .stages{
    color: #e20074;
} 
.noContent {
    color: #e20074;
}
.noContent:after{
    height: 0rem;
}
.subStageNumber{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.688rem;
    background-color: #77819f;
    border-radius: 50%;
    color: #fff;
    width: 0.950rem;
    height: 0.950rem;
    position: relative;
    text-align: center;
}
.subStageNumber div{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.subStageNumber:hover{
    background-color: #77819f;
}
.completed{
    width: 0.950rem;
    height: 0.950rem;
    z-index: 9;
    vertical-align: unset;
}
.subStageName{
    color: #8F889D;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 11.9rem;
}

.noContent .completedsubStageName {
    font-size: 0.813rem;
    font-weight: 500;
    color:#e20074;
}

.selected{
    color: #474a68;
    font-weight: 500;
    font-size: 0.813rem;
    animation: fadeInOpacity 0.5s 1;
    -webkit-animation: fadeInOpacity 0.5s 1; /* Safari 4+ */
}

@keyframes fadeInOpacity {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeInOpacity {
    0%   { opacity: 0; }
    20% { opacity: 0; }
    40%   { opacity: 0.5; }
    60% { opacity: 0.5; }
    80%   { opacity: 1; }
    100%   { opacity: 1; }
  }

.multisite-markdown .selectedBg {
    animation: none;
    -webkit-animation: none;
}

.toolsAndDocs .selectedBg{
    animation: none;
    -webkit-animation: none;
}

.selectedBg{
    color: #fff;
    background-color: #48C681;
    animation: fadeInOpacity 0.5s 1;
         /* Safari 4+ */
    -webkit-animation: fadeInOpacity 0.5s 1;
    transform: scale(1.05,1.05);
}

@keyframes fadeInOpacity {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeInOpacity {
    0%   { opacity: 0; }
    20% { opacity: 0; }
    40%   { opacity: 0.5; }
    60% { opacity: 0.5; }
    80%   { opacity: 1; }
    100%   { opacity: 1; }
  }

.dev-jouney {
  height: 2rem;
  font-family: 'Roboto';
  font-size: 1rem;
  letter-spacing: 1.3px;
  font-weight: bold;
  color: #474a68;
  white-space: nowrap;
}

.apigee {
  height: 1.25rem;
  opacity: 0.5;
  font-size: 0.825rem;
  line-height: 1.5;
  color: #ffffff;
}

.fadeInAnimation1 {
    transition: all 1s ease-in-out;
    animation: fadeInOpacity 1s 1;
    -webkit-animation: fadeInOpacity 1s 1;  /* Safari 4+ */
}

@keyframes fadeInOpacity {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeInOpacity {
    0%   { opacity: 0; }
    20% { opacity: 0; }
    40%   { opacity: 0.5; }
    60% { opacity: 0.5; }
    80%   { opacity: 1; }
    100%   { opacity: 1; }
}

.devJourney-steps {
    display: flex;
    justify-content: space-between;
}

.end-journey-pink {
    width: 150px;
    height: 43px;
    border-radius: 3px;
    border: solid 1px #e20074;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e20074;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1.25rem;
  }

.end-journey {
  width: 150px;
  height: 43px;
  border-radius: 3px;
  border: solid 1px #5a5d82;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5a5d82;
  font-size: 1rem;
  font-weight: 500;
}

.end-journey:hover {
    transition: all 0.3s ease;
    text-decoration: none;
    color: #fff;
    background-color: #5a5d82;
    cursor: pointer;
}

.cancel-journey {
  width: 140px;
  height: 38px;
  border-radius: 5px;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.15);
  background-color: #9b95a8;
  border: none;
}

.cancel-journey:hover {
    box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.3);
    background-color: #9b95a8;
}

.end-journey-btn {
  width: 140px;
  height: 38px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.15);
  background-color: #e20074;
  border: none;
}

.end-journey-btn:hover {
    box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.3);
    background-color: #e20074;
    color: #fff;
}

.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-header .close {
    position: relative;
    right: -9rem;
}

.modal-header {
    border: none;
}

.modal-footer {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    border: none;
}

.close {
    font-size: 2rem;
    font-weight: 400;
    color: #474a68;
    opacity: 1;
}

.devsidenav-buttons {
    flex-shrink: 0;
    margin: 0.75em 0;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.collapseJourney .end-journey {
    display: none;
}

.modal-footer {
    justify-content: center!important;
}

.end-journey-pink:hover {
    color: #fff;
    background-color: #e20074;
    transition: all 0.3s ease;
} 

.collapseJourney .end-journey {
    display: none;
}

.devSide-minHeight {
    /* min-height: 38rem; */
    flex-grow: 1;
    flex-shrink: 0;
}

.devJourneyComponent .devSide-minHeight {
    /* min-height: 41.5rem; */
    flex-grow: 1;
    flex-shrink: 0;
}

.devJourneyComponent .collapseJourney {
    opacity: 1;
}

.subStageIcon-width {
    width: 1rem;
    height: 1rem;
}

.subStageIcon-width img {
    width: 100%;
    height: 100%;
}

/* .stages-container:nth-child(5)::after {
height: 0px;
} */

.stages-container:last-child::after {
    width: 0px;
    height: 0px;
}

.collapseJourney .stagesLine {
    left: 1.9rem;
}

.stagesLine {
    transition: all 0.3s ease;
    display: none;
}

.collapseJourney .subStageIcon:after {
    left: 50%;
}

.subStageNameCompleted {
    color: #e20074;
}

.completedsubStageName{
    color: #e20074;
}

.collapseJourney .devJourneyNavbr {
    border-top-right-radius: 0.55rem;
    border-bottom-right-radius: 0.55rem;
}

#devJourneyNavb {
    transition: all 0.5s ease;
    border-top-right-radius: 0.55rem;
    border-bottom-right-radius: 0.55rem;
}

#collapse-btn-event {
    transition: all 0.3s ease;
}

.stageIcon:after {
    content: '';
    border-right: 1px solid #aeb0bf;
    width: 1px;
    height: 80%;
    position: absolute;
    left: 5.8%;
    bottom: 100%;
    z-index: -1;
    opacity: 0.6;
}

.collapseJourney {
    transition: all 0.3s ease;
    opacity: 0.6;
}

.collapseJourney:hover {
    opacity: 1;
}

.collapseJourney .stageIcon:after {
    left: 48%;
}

.allStagesWrap .stages-container:nth-child(1) .stageIcon:after {
    border-right: 0px solid #aeb0bf !important;
}

.collapseJourney .allStagesWrap .stages-container a .subStages {
    margin: 0.8rem 0 0 0;
}

.collapseJourney .allStagesWrap .stages-container a:last-child .subStages {
    margin: 0.6rem 0;
}

.allStagesWrap .noContent:nth-child(2) .stageIcon::after{
    height: 50% !important;
}

.allStagesWrap .noContent:nth-child(3) .stageIcon::after{
    height: 20% !important;
}

/* .allStagesWrap .stages-container:nth-child(2) .stageIcon:after {
    height: 50%;
}

.allStagesWrap .stages-container:nth-child(3) .stageIcon:after {
    height: 22%;
} */

.white-arrow {
    position: absolute;
    top: 0.5rem;
    right: 0.2rem;
    transform: rotate(180deg);
}

.collapseJourney .white-arrow {
    transform: rotate(0deg);
    right: -0.5rem;
    top: 1rem;
}

.devJourneyComponent .rotate-btn .white-arrow {
    right: 1.1rem;
}
