.searchbar {
  width: 100%;
  height: 3.2rem;
  background-color: #ffffff;
  position: relative;
}

.search-blog {
  width: 92%;
  height: 3.12rem;
  border: none;
  padding: 2%;
  position: relative;
}
.search-blog:active, .search-blog:focus{
  outline: none;
}

 .searchbar :placeholder-shown {
  opacity: 0.5;
  font-family: "Roboto";
  font-size: 1rem;
  color: #000000;
}

.blog-search-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  opacity: 0.5;
}
