.carosal-content,
.right-carosal-img {
  width: 100%;
  position: relative;
  border-radius: 0.313rem;
}

.car-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.right-carosal-img {
  width: 17.9rem;
  height: 12.5rem;
  border-radius: 0.313rem;
  overflow: hidden;
}

.gradient {
  position: absolute;
  top: 0;
  width: 17.9rem;
  height: 12.5rem;
  border-radius: 0.313rem;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(162, 10, 90, 0.67) 82%,
    #f10f85
  );
}

.right-title {
  position: absolute;
  bottom: 1.2rem;
  z-index: 1;
  width: 90%;
  font-size: 0.938rem;
  font-weight: bold;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
}

.blog-btnn {
  position: absolute;
  bottom: 4.5rem;
  left: 1rem;
  /* width: 3.813em; */
  font-size: 0.688rem;
  font-weight: bold;
  line-height: 1.18;
  letter-spacing: 0.05rem;
  text-align: center;
  color: #ffffff;
  background: #ec1e50;
  text-transform: uppercase;
  padding: 0.25rem 0.475rem;
  border-radius: 2px;
}
.blog-btnn:hover {
  text-decoration: none;
  color: #ffffff;
}
.clipPolygon {
  clip-path: polygon(100% 0, 100% 86%, 91.5% 100%, 0 100%, 0 0);
}

.empty-blog-icon {
  width: 4rem;
  height: 4rem;
}

.empty-blog-div {
  height: 13.3rem;
  clip-path: polygon(100% 0, 100% 88%, 91.5% 100%, 0 100%, 0 0);
  background-color: #ffffff;
  border: 1.5px solid #f10f85;
  z-index: 5;
}

.gradientt {
  position: absolute;
  top: 0;
  width: 17.9rem;
  height: 12.5rem;
  border-radius: 0.313rem;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(162, 10, 90, 0.67) 98%,
    #f10f85
  );
}