.nav-block {
  display: flex;
  background-color: #ffffff;
  justify-content: space-evenly;
  border-width: 1px;
  list-style-type: none;

  width: 100%;
  height: 3.125rem;
  background-color: #f9f9f9;
  overflow: hidden;
}

.navigation-block {
  position: relative;
  display: flex;
  flex: 1;
  width: 15.625rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* transition: all 0.2s ease-in; */
}

.nav-bg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #f10f85;
  height: 100%;
  z-index: 0;
  transition: all 0.4s ease;
}

.navigation-block:hover {
  text-decoration: none;
}

/* .navigation-block:first-child {
  border-left-width: 1px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
} */

.navigation-block:last-child {
  border-right-width: 1px;
  border-top-right-radius: 0.188rem;
  border-bottom-right-radius: 0.188rem;
}

.navigation-block.active {
  color: #ffffff;
  transition: all 0.3s ease-in;
}

.navigation-block-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.688rem;
  font-weight: bold;
  letter-spacing: 1.1px;
  color: #4a4e57;
  z-index: 1;
}

.active .navigation-block-text {
  color: #ffffff;
}

.tools {
  font-size: 0.813rem;
  margin-top: 0.313rem;
  font-weight: bold;
  letter-spacing: 1.1px;
  color: #ffffff;
}

.templates-li,
.documents-li {
  text-align: center;
}

.templates,
.documents {
  width: 5.125rem;
  height: 0.938rem;
  font-size: 0.688rem;
  font-weight: bold;
  letter-spacing: 1.1px;
  text-align: center;
  margin-top: 1.25rem;
  color: #4a4e57;
}

.nav-block .active .nav-bar-count {
  background-color: #ffffff;
}

.nav-bar-count {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1.8rem;
  width: auto;
  height: 1.2rem;
  border-radius: 0.8rem;
  background-color: #f10f85;
  text-align: center;
  padding: 0.625rem 0.875rem;
}

.nav-block .active .nav-count-text {
  color: #f10f85;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-count-text {
  color: #ffffff;
  display: flex;
  /* width: 1.313rem; */
  height: 0.875;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}

.nav-text {
  margin-right: 0.75rem;
}

/* .disable-cursor {
    cursor: default;
  } */

.space-navbar {
  width: 370px;
}
.navigation-block.inactive:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.navigation-block.inactive:hover .nav-text {
  color: #f10f85;
}

.navigation-block .nav-bg {
  transform: translateX(-100%);
}

.navigation-block-documents.active .nav-bg {
  transform: translateX(0);
}
