.navHeader {
  height: 3.7rem;
  opacity: 0.95;
  background-color: #474a68;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 3.95rem;
  width: 100%;
  overflow: visible;
  z-index: 15;
}

.navHeader .renderList-navHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.2rem;
}

.navHeader .renderList-navHeader .figure-navHeader .navicon-navHeader {
  width: 2rem;
  height: 2rem;
}

.navHeader .renderList-navHeader .figure-navHeader {
  display: flex;
  padding: 0.8rem 1.3rem 0 0.8rem;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin: 4px -2.6px 1rem;
}

.navHeader .renderList-navHeader .figure-navHeader figcaption {
  font-family: "Roboto";
  font-size: 0.8rem;
  font-weight: 500;
  text-align: left;
  color: #ffffff;
  padding-left: 0.8rem;
  max-width: 6.6rem;
  white-space: nowrap;
  /* width: 5.2rem; */
}
