.footer {
  width: 100%;
  height: 4rem;
  background-color: #fff;
}

.footer .content {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.footer .content .copyright {
  opacity: 0.5;
  font-size: 0.75rem;
  width: 26.8rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
