
.bloghome-right .section {
  display: flex;
  background-color: #ffffff;
  padding: 1.5rem;
  margin: 0.5rem 0;
}

.bloglist-img {
  width: 33rem;
  height: 10rem;
  overflow: hidden;
}
.bloglist-img img{
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  border-radius: 3px;
}
.bloghome-right .subsection {
 padding-left: 1.5rem;
}

.bloglist-category {
  font-size: 1rem;
  line-height: 1.38;
  color: #e10074;
  cursor: pointer;
}

.bloglist-title {
  font-size: 1.375rem;
  letter-spacing: -0.5px;
  color: #000000;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  max-height: 2.4rem;
}

.bloglist-details {
  font-size: 0.75rem;
  line-height: 1.67;
  color: #979797;
}

.bloglist-description {
  font-size: 0.875rem;
  line-height: 1.29;
  color: #4a4a4a;
}

.bloglist-readmore {
  font-size: 0.75rem;
  color: #e20074;
  text-decoration: underline;
  margin-top: 1rem;
  transition: all 0.11s ease-in;
  cursor: pointer;
}

.bloglist-readmore:hover {
  text-decoration: none;
  color: #e20074;
  font-size: 0.78rem;
  transition: all 0.1s ease-in;
}

.blogList{
  width:100%;
}

.bloglist-descripion{
  font-size: 0.87rem;
  padding-top: 0.5rem;
  line-height: 1.29;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  max-height: 3.5rem;
  max-width: 65rem;
  color: #4a4a4a;
}

.recent-blogs .section:hover {
  background-color: #ffffff;
  color: #e20074;
  transition: all 0.4s ease;
}

.section .ss-title:hover {
  color: #e20074;
  transition: all 0.3s ease;
}

.bloghome-right .section:hover {
  background-color: #f9f9f9;
  transition: all 0.3s ease;
}

.section:hover .bloglist-title {
  color: #e20074;
  transition: all 0.3s ease;
}

.section:hover .bloglist-img img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.bloglist-img img {
  transition: transform 0.4s ease-out;
}