.min-nav {
    /* display: flex; */
    display: none;
    justify-content: space-between;
    line-height: 1;
    border: 0.1px solid #ededee;
    align-items: center;
  height: 2.62rem;
  background-color: #ffffff;
  }
  
  .min-nav li {
    list-style: none;
  }
  
  .min-nav-li:hover {
    text-decoration: none;
    color: #4a4e57;
  }
  
  .type,
  .filterSort {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height:100%;
  }

  .right-li{
    width: 5rem;
    height: 2.62rem;
  }
  
  .type > div {
    display: flex;
    height:100%;
    width: 5rem;
  }
  .min-nav-li {
    color: #4a4e57;
    font-size: 0.813rem;
    pointer-events: none;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: center;    
  }
  
  .min-nav-li.active {
    color: #e10074;
    font-weight: bold;
    border-bottom: 2px solid #e20074;
  }
  
  .filter {
    height: 1rem;
    margin-right: 0.6rem;
    width: 1rem;
    margin-bottom: 0.188rem;
    object-fit: contain;
  }
  
  .sort {
    margin-left: 0.6rem;
    width: 0.5rem;
    height: 0.375rem;
    object-fit: contain;
  }
  