.featured-events-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.featured-events-div {
  position: relative;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.15));
}

.featured-events-box {
  width: 23rem;
  height: 12.5rem;
  padding: 1.5rem;
  cursor: pointer;
  background-color: #ffffff;
  background-image: url("../../../../images/events-pattern@2x.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100%, 1rem;
  transition: all 0.2s ease-in-out;
  -webkit-clip-path: polygon(100% 0, 100% 88%, 91.5% 100%, 0 100%, 0 0);
  clip-path: polygon(100% 0, 100% 88%, 91.5% 100%, 0 100%, 0 0);
}

.featured-events-div:hover {
  filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.15));
  transition: all 0.2s ease-in;
}

.pink-calender-icon {
  width: 0.93rem;
  height: 1.06rem;
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
}

.event-tag {
  width: 3rem;
  height: 1.18rem;
  border-radius: 2px;
  background-color: #ec1e50;
  font-family: "Roboto";
  font-size: 0.68rem;
  font-weight: bold;
  line-height: 1.18;
  letter-spacing: 0.8px;
  text-align: center;
  color: #ffffff;
  padding: 0.25rem 0.3rem 0.25rem 0.4rem;
}

.fevent-heading {
  font-family: "Roboto";
  font-size: 0.93rem;
  font-weight: bold;
  color: #f10f85;
  margin-top: 0.6rem;
}

.fevent-date,
.fevent-location {
  display: flex;
  padding: 0.4rem 0 0 0;
}

.calender-icon,
.location-icon {
  width: 0.825rem;
  height: 0.9375rem;
  margin-right: 0.3rem;
}

.date-details,
.location-details {
  font-family: "Roboto";
  font-size: 0.6875rem;
  color: #4a4e57;
}

.visibleNone {
  visibility: hidden;
}