.expand-parent .enabledLink:hover {
  opacity: 0.8;
  transition: opacity 0.2s ease-in;
}

.expand-parent .home-img {
  opacity: 1;
}

.expand-parent .disabledLink {
  opacity: 0.6;
}
.expand-parent .home-icon {
  opacity: 0.8;
}
.expand-parent .hdr-nav {
  display: flex;
  align-items: center;
  height: 5rem;
  padding: 0.5rem 4.2rem;
  position: fixed;
  width: 100%;
  transition: all 0.3s ease-in;
}

.expand-parent .login-btn-hover {
  width: 6rem;
  height: 2rem;
  margin: 0.2rem 0.35rem;
}
.expand-parent .login-btn-hover:hover {
  cursor: default;
  filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.9));
  transition: 0.2s ease-in;
}
.header-navv {
  height: 4rem;
  background-color: #474a68;
  padding: 0.5rem 4.2rem;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}
.expand-parent .right-flexx {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.expand-parent .to-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.expand-parent .header-icon {
  height: 1.3rem;
  margin: 0.5rem 0.85rem;
  transition: all 0.2s ease-in;
}

.expand-parent .header-icons {
  margin: 0 1rem;
  display: flex;
}

.expand-parent .search-rectangle {
  border: solid 1px #faf0e6;
  width: 10rem;
  height: 2rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin: 0.2rem 0.35rem;
  padding-right: 0.5rem;
  transition: all 0.2s ease-in;
}
.expand-parent .search-rectangle:hover {
  opacity: 0.8;
}

.expand-parent .search-icon {
  height: 1rem;
  margin: 0.5rem;
}
.expand-parent .search-text {
  background: transparent;
  border: none;
  width: 7.8rem;
  font-family: "Roboto";
  font-size: 1rem;
  line-height: 1.29;
  color: #ffffff;
}

.expand-parent .search-rectangle .search-text {
  color: #ffffff;
  overflow: hidden;
}
.expand-parent .disabledLink {
  cursor: none;
  cursor: default;
}

.expand-parent .search-text:focus {
  outline: none;
}

.expand-parent .search-rectangle ::placeholder {
  font-family: "Roboto";
  font-size: 0.875rem;
  font-weight: 300;
  opacity: 0.7;
  line-height: 1.29;
  color: #ffffff;
  margin: 0.5rem;
  margin-left: 0rem;
  padding-bottom: 0.2rem;
}
.expand-parent .login-rectangle {
  width: 100%;
  height: 100%;
  border-radius: 0.313rem;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 0,
    100% 80%,
    89% 100%,
    30% 100%,
    0 100%,
    0 0
  );
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 0,
    100% 80%,
    89% 100%,
    30% 100%,
    0 100%,
    0 0
  );
}
.expand-parent .login-rectangle-cont {
  position: relative;
  /* width: 6rem; */
  height: 2rem;
  margin: 0.2rem 0.35rem;
}

.expand-parent .login-text {
  font-family: "Roboto";
  font-size: 0.875rem;
  letter-spacing: 0.013rem;
  color: #535876;
}
.expand-parent .logo-new {
  height: 2.5rem;
  width: 12rem;
  background: transparent;
  transition: all 0.2s ease;
}
.header-burger {
  display: none;
}
.expand-parent .navbar-brand {
  margin-right: -0.5rem !important;
}
.navbar-header {
  display: flex;
}

.beta-cont {
  margin-top: 0.3rem;
}

.disabledLink {
  margin-left: 1rem;
}

.feed-icon-green {
  width: 9px;
  height: 9px;
  background-color: #57db0e;
  border-radius: 50%;
  position: absolute;
  top: 0.4rem;
  left: 1.5rem;
}

.header-fig-journey {
  position: relative;
}

.highlight {
  opacity: 1 !important;
}