.card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 1.25rem;
  grid-gap: 1.875rem 1.4rem;
}

.card-card {
  width: 100%;
}

.card-container {
  display: flex;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  border-radius: 0.25rem;
  background-color: #ffffff;
  text-align: center;
  width: 16.25rem;
  height: 20.625rem;
  transition: all 0.2s ease-in-out;
}

.card-container:hover {
  box-shadow: 0 0.525rem 0.85rem 0 rgba(0, 0, 0, 0.1);
}

.card-container:hover .card-back {
  transform: scale(1.1);
}

.card-container:nth-child(3n) {
  margin-right: 0;
}

.card-body .card-see-more {
  font-size: 0.688rem;
  text-align: center;
  color: #e20074 !important;
  margin-top: 1rem;
  transition: all 0.2s ease-in-out;
}

.card-title {
  font-size: 1rem;
  text-align: center;
  color: #4a4a4a;
  margin-bottom: 0.8rem;
}
.card-img {
  width: 2rem;
  height: 2rem;
}

.hex-card-img {
  width: 5rem;
  height: 5rem;
}

.hex-card-img img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.card-img-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  position: relative;
  height: 9.688rem;
  background-color: #f3f4f6;
}

.card-back {
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.2s ease-in-out;
}
.customLogo {
  font-size: 1.5rem;
  color: #ffffff;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}
.card-text {
  opacity: 0.5;
  font-size: 0.719rem;
  line-height: 1.5;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  color: #000000;
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 5.6rem;
  height: 3.6rem;
}
.card-text p {
   /* autoprefixer: off */
   -webkit-box-orient: vertical;
   /* autoprefixer: on */
   display: -webkit-box;
   -webkit-line-clamp: 3;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis; 
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.card-body .card-see-more:hover {
  text-decoration: underline !important;
  cursor: pointer;
  color: #e20074 !important;
}
.loadmore-txt {
  opacity: 0.5;
  font-size: 0.875rem;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #4a4e57;
  text-decoration: none;
  padding-right: 0.5rem;
}
.loadnmore-cont:hover {
  text-decoration: none;
}
.load-icon {
  width: 0.388rem;
  height: 0.625rem;
  transform: rotate(90deg);
  clip-path: polygon(30% 0, 100% 50%, 37% 100%, 0 100%, 64% 51%, 0 0);
  background-color: #f10f85;
}
.loadnmore-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.8rem;
}
.card-im {
  width: 2.438rem;
  height: 2.25rem;
}

.card-link + .card-link {
  margin: 0;
}
.card-link {
  text-decoration: none;
}
.card-external-link{
  width: 1.375rem;
    height: 1.375rem;
    position: absolute;
    top: 0.3rem;
    right: 0.6rem;
}
.card-external-link img{
  width: 100%;
  height:100%;
}
.card-row {
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

.card-container:hover .card-no-back {
  transform: scale(1.1);
}
.card-no-back {
  background-size: 0;
  transition: all 0.2s ease;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


