.eventsListComponent {
  padding-bottom: 7rem;
  position: relative;
  top: 4rem;
  background-color: #f9f9f9;
  min-height: 100vh;
}
.eventsListComponent-header {
  width: 100%;
  height: 5rem;
  background-color: #f10f85;
  padding: 1.5rem;
}
.eventsListComponent-header-heading {
  font-family: "Roboto";
  font-size: 1.5rem;
  color: #ffffff;
  width: 72rem;
}
.eventsListComponent-main {
  overflow: hidden;
  width: 72rem;
  margin: 0 auto;
  height: calc(100vh - 9rem);
}
.eventsListComponent-subsection-heading {
  font-family: "Roboto";
  font-size: 1.5rem;
  font-weight: 300;
  color: #242241;
  margin-top: 5rem;
  margin-bottom: 1rem;
}
.heading-border-bottom {
  padding-bottom: 0.7rem;
  border-bottom: solid 1px #d9dbdf;
  margin-top: 2.5rem;
}
.upcomingEvents-table-headings {
  margin: 1rem 1.5rem;
}
.ue-heading {
  font-family: "Roboto";
  font-size: 0.75rem;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 0.5px;
  color: #4a4e57;
  text-transform: uppercase;
}
.ueh1 {
  flex-basis: 6.5%;
}
.ueh2 {
  flex-basis: 83%;
}
.ueh3 {
  flex-basis: 15%;
}
.event-dev-align {
  position: relative;
  display: flex;
  flex-direction: column;
}
.eventList-comp .eventsListComponent .collapse-btn-event {
  z-index: 4;
  position: absolute;
  left: 4.6%;
  transform: translateX(-100%);
  transition: 0.3s ease-in;
  margin: 1rem 0;
  top: 0.5rem;
}

.eventsListComponent .btn-positn-event {
  position: absolute;
  left: 16.4rem;
  top: 0.5rem;
  transition: 0.3s ease;
}

/* .eventsListComponent .devJourneyNavEvent {
  position: absolute;
  top: 1.5rem;
  left: unset;
} */

.eventsListComponent .collapseJourneyEvent {
  position: absolute;
  opacity: 1;
  top: 0.5rem;
  z-index: 1;
  transform: translateX(100%);
}

/* .eventsListComponent .devJourneyNavbr .collapse-btn {
  display: none !important;
} */

.eventList-comp .devJourneyNav {
  position: absolute;
  top: 2.5rem;
  z-index: 0 !important;
}
.eventList-comp .devJourneyNav.nav-expanded {
  z-index: 11 !important;
}

.eventList-comp .collapseJourney .devsidenav-buttons {
  display: none;
}

.eventList-comp #collapse-btn-event {
  z-index: 2;
  top: 4.45rem;
  left: 2.8rem;
}

.eventList-comp #collapse-btn-event img {
  width: 2.65rem;
  height: 2.65rem;
}

.eventList-comp #collapse-btn-event:hover {
  opacity: 1;
  transform: scaleX(1.1);
  left: -0.1rem;
}

.eventList-comp .collapseJourneyEvent {
  transform: translateX(0%) !important;
}

.eventList-comp .devJourneyNavEvent-lr {
  top: 4.6rem;
}

.eventList-comp .devJourneyNavEvent-lr {
  z-index: 4;
}

.eventList-comp .collapseJourney .collapse-btn {
  left: -6.1rem;
}