.tooltip-container {
  /* background: red; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  bottom: 14.5rem;
  width: 46rem;
  z-index: 2;
  transition: bottom 0.5s ease, opacity 0.5s ease;
  visibility: hidden;
  left: 0;
}

.tooltip-element {
  border-radius: 0.313rem;
  background-color: rgba(36, 34, 65, 0.7);
  height: 3.5rem;
  color: #fff;
  width: 17.5rem;
  margin: 0.15rem;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 74%,
    96% 100%,
    100% 100%,
    0% 100%,
    0% 10%
  );
  font-size: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.tooltip-element p {
  margin: 0;
  width: 80%;
  line-height: 1.2;
}
.tooltip-arrow-down {
  bottom: -0.313rem;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 0.5rem solid rgba(36, 34, 65, 0.7);
  left: 7.5rem;
}
.tooltip-element:hover {
  color: #ffffff;
  background: #e20074;
}
.extraTooltipHeight {
  height: 3.5rem;
  width: 100%;
}
