@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.slick-dots {
  bottom: 3%;
}

.slick-dots li {
  width: 0.625rem;
  height: 0.625rem;
  margin: 0 0.188rem;
}

.slick-prev,
.slick-next {
  font-size: 0.938rem !important;
}

.slick-prev::before {
  color: transparent !important;
  background-image: url("../../../images/arrow-left.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.slick-next::before {
  color: transparent !important;
  background-image: url("../../../images/arrow-right.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.slick-prev.slick-disabled::before,
.slick-next.slick-disabled::before {
  opacity: 0 !important;
  transition: opacity 0.35s ease;
}