.devJourneyLanding{
    width: 100%;
    height: calc(100vh - 4rem);
    margin-top: 3.95rem;
}

.devJourneyLandingArticle {
    height: 100%;
    background-image: linear-gradient(to top, #ffffff, #e4e8ef);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.4rem 8.3rem;
    background: url("../../../../images/BG_DevJourney@2x-min.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.devJourneyLandingUpperHeading-small {
    font-family: 'Roboto';
    font-size: 1.75rem;
    font-weight: 900;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    padding-top: 2.2rem;
}

.devJourneyLandingUpperHeading-big {
    font-family: "Roboto";
    font-size: 2.87rem;
    font-weight: 900;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}

.devJourneyLandingUpperContent {
    font-family: "Roboto";
    font-size: 1.12rem;
    text-align: center;
    font-weight: 300;
    color: #ffffff;
    width: 41.25rem;
    padding: 1.2rem 0;
}

.devJourneyLandingLowerHeading {
    font-family: "Roboto";
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    padding: 3rem 0 3.5rem;
}

.devJourneyLandingLowerCardSection {
    display: flex;
    justify-content: space-evenly;
}

.devJourneyLandingLowerCard {
    width: 17rem;
    height: 12.5rem;
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(71, 74, 104, 0.5);
    background-color: #ffffff;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.djSubCards {
    display: flex;
    justify-content: space-evenly;
    display: none;
}

.subCat {
    width: 17rem;
    height: 3.5rem;
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(71, 74, 104, 0.5);
    background-color: #ffffff;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.djSubcategory-title {
    font-family: "Roboto";
    font-size: 1.12rem;
    font-weight: bold;
    text-align: center;
    color: #474a68;
    text-transform: uppercase;
}

.activeCard {
    cursor: pointer;
}

.devJourneyLandingLowerCardSection .activeCard .devJourneyLandingLowerCard:hover {
    background-color: #f0f2f8;
}

.devJourneyLandingLowerCardSection .activeCard .devJourneyLandingLowerCard:hover .devJourneyLandingLowerCard-title {
    color: #e20074;
}
.devJourneyLandingLowerCard-icon {
    width: 3rem;
    height: 2.5rem;
    margin-bottom: 2rem;
}

.devJourneyLandingLowerCard-title {
    font-family: "Roboto";
    font-size: 1.12rem;
    font-weight: bold;
    text-align: center;
    color: #474a68;
    text-transform: uppercase;
    position: absolute;
    bottom: 2.5rem;
}

.disabledCard {
    cursor: not-allowed;
}

.disabledCardOpacity {
    opacity: 0.5;
}

.emptyHeight{
    height: 10rem;
}