.card{
    display: flex;
    flex-direction: column;
    width: 16.25rem;
    height: 18.75rem;
    border-radius: 0.25rem;
    box-shadow: 0 2px 0.5rem 0 rgba(0, 0, 0, 0.1);
    margin: 0 1rem;
    background-color: #fff;
  }
  .card:hover{
    box-shadow: 0 2px 0.5rem 0.25rem rgba(0, 0, 0, 0.12);
    transition: all .3s ease;
    cursor: pointer;
  }
  .card-upper-half{
      position: relative;
      height: 16.25rem;
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      flex-direction: column;
      align-items: center;
  }
  /* .card-upper-half > div:first-of-type {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  } */
  .small-img{
      position: absolute;
      top: 1.6rem;
      right: 5.9rem;
  }
  .hexagon{
      display: flex;
      justify-content: center;
      height: 4.063rem;
      width: 3.7rem;
      /* margin: 1.5em 0em 1.3em 0rem; */
      -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
      clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }

  .card-content> h5{
    height: 1.5rem;
    font-size: 0.688rem;
    font-weight: bold;
    line-height: 2.18;
    letter-spacing: 0.057rem;
    text-align: center;
    text-transform: uppercase;
  }
  .card:nth-child(1) .card-content>h5{
    color: #ff8880;
  }
  .card:nth-child(2) .card-content> h5{
    color: #ff4961;
  }
  .card:nth-child(3) .card-content> h5{
    color: #bf8082;
  }
  .card-content> p{
    font-family: 'roboto';
    height: 4.25rem;
    width: 100%;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.42;
    text-align: center;
    color: #4a4e57;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0rem 2rem;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    overflow: hidden;
  }
  .card-btn{
    height: 3.125rem;
    width: 100%;
    background-color: #f3f4f6;
  }
  .card-btn a{
    width: 100%;
    height: 100%;
    opacity: 0.5;
    font-size: 0.813rem;
    letter-spacing: 0.5px;
    color: #4a4a4a;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-content{
      padding: 0rem;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }
  .card-btn-line {
    width: 57.5px;
    height: 2px;
    position: absolute;
    bottom: -0.08rem;
  }
  .card:nth-child(1) .card-upper-half .card-btn-line{
    background-color: #ff8880;
  }
  .card:nth-child(2) .card-upper-half .card-btn-line{
    background-color: #ff4961;
  }
  .card:nth-child(3) .card-upper-half .card-btn-line{
    background-color: #bf8082;
  }