.devJourneyScreens {
    padding-right: 1.5rem;
    margin-top: 1.1rem;
}

.devJourneyHeight {
    margin-top: 1.4rem;
}
.devJourneyRight {
    display: flex;
    flex-direction: column;
}

.devJourneyRight-upper {
    display: flex;
    background-color: lightgray;
    height: 3rem;
}

.devJourneyRight-upper-next {
    display: flex;
}
.devJourneyRight-upper-back {
    display: flex;
}

.devJourneyComponentRight{
    position: relative;
    overflow: hidden;
    z-index: 10;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
}

.devJourneyRight{
    max-height: calc(100vh - 11.3rem);
    min-height: calc(100vh - 11.3rem);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    padding: 1.5rem 2.250rem 2.250rem 2.250rem;
    position: relative;
    background-color: #fff;
    /* opacity: 0.95; */
}

.devJourneyHeader{
    display: inline-block;
    justify-content: space-between;
  }

.nextState{
    display: flex;
    justify-content: space-between;
    color: #f10f85;
    align-items: center;
}

.staticContents{
    text-align: right;
}

.staticContents.number{
    font-size: 2rem;
    margin-left: 1rem;
}

.headerContainer {
    display: -webkit-box;
    align-items: center;
    max-width: 36rem;
}

.breadCrumbs-step{
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 300;
    color: #474a68;
    padding-right: 0.5rem;
}

.titleHeader{
    font-family: "Roboto";
    margin-top:5px;
    font-size: 1.5rem;
    /* font-weight: bold; */
    /* color: #e20074; */
    margin-bottom: 0.2rem;
    /* overflow: hidden; */
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    /* max-height: 2rem; */
    line-height:1.2;
    opacity: 0.8;
}

.externalLinkIcon {
    width: 1.13rem;
    height: 1.13rem;
    margin: 0 0.5rem;
    cursor: pointer;
}

.breadCrumbs-website {
    opacity: 0.5;
    font-family: "Roboto";
    font-size: 0.75rem;
    line-height: 1.5;
    color: #000000;
    margin-top: 0.4rem;
    cursor: pointer;
}

.step{
    font-size: 0.5rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

.nextState-content{
    font-size: 0.9rem;
    font-weight: 700;
}

.description, .reference{
    font-size: 0.9rem;
    color: #666;
}

.description {
    margin-left: 4.9rem;
    opacity: 0.5;
    font-family: "Roboto";
    font-size: 0.75rem;
    line-height: 1.5;
    color: #000000;
}

.devJourneyComponentRight-mainbody {
    display: flex;
    margin-top: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    z-index: 2;
}

.mainbody-right {
    width: 75%;
    padding: 0 2rem 0rem 0;
}

.reference{
    display: flex;
    align-items: baseline;
    width: 80%;
    max-width: 32rem;
    margin-bottom: 1.5rem;
}

.reference-title {
    font-family: "Roboto";
    font-size: 0.75rem;
    color: #242241;
}
.reference-container{
    margin-left: 0.5rem;
}

.reference-links a{
    font-family: "Roboto";
    font-size: 0.75rem;
    color: #e20074;
    cursor: pointer;
    width: 139.5%;
    overflow: hidden;
    word-break: break-word;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
}

.reference-links a:hover{
    color: #c7046a;
}

.mainbody-left {
    width: 25%;
    /* opacity: 0.5; */
    border-radius: 3px;
    background-color: rgba(217,219,223,.5);
    padding: 1.2rem;
    margin-right: 0.5rem;
    display: inline-table;
    height: 100%;
}

.note-title {
    font-family: "Roboto";
    font-size: 0.8rem;
    font-weight: 500;
    color: #474a68;
    text-transform: uppercase;
    margin-bottom: 0.7rem;
}

.note-body {
    font-family: "Roboto";
    font-size: 0.75rem;
    line-height: 1.42;
    color: #474a68;
    /* overflow-y: scroll; for IE */
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 15;
    word-break: break-word;
}

.breadCrumbs .stageNameContent{
    font-weight: 700;
    text-transform: uppercase;
}

.note{
    margin-top: 1rem;
    color: #777;
    font-size: 0.9rem;
}
.devJourneyRight .devJourneyMd ol ::-webkit-scrollbar {
    width: 0px;
}

  .devJourneyRight .devJourneyMd::-webkit-scrollbar {
    width: 8px;
  }
   
  .devJourneyRight .devJourneyMd::-webkit-scrollbar-thumb {
    background: #d0cfcf;
    border-radius: 20px;
  }
  
  .devJourneyRight .devJourneyMd::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 20px;
  }


.stepsContainer{
    overflow-y: auto;
}

.stepParent{
    display: flex;
    margin: 1rem 0;
    padding-bottom: 1rem;
    font-size: 1.1rem;
    /* align-items: baseline; */
    border-bottom: solid 1px #d9dbdf;
    /* height: 2.5rem; */
}

.stepsContainer :nth-last-child(1) {
    border-bottom: none;
}

.stepsNumber{
    opacity: 0.5;
    font-family: "Roboto";
    font-size: 1rem;
    color: #242241;
    margin-right: 0.5rem;
}

.stepsValue, .additionalNotesTitle{
    width: calc(100% - 3.5rem);
    display: flex;
    align-items: center;
    font-family: "Roboto";
    font-size: 1rem;
    line-height: 1.2;
    color: #e20074;
}

.additioanlNotes {
    overflow-y:scroll;
}

.additionalNotesText {
    line-height: 1.3;
    font-size: 0.9rem;
}

.stepsDescription, .stepsDescriptionUnlink {
    text-overflow: ellipsis;
    width: 100%;
    font-family: "roboto";
    color: #212529;
    line-height: 1.3;
    font-size: 0.9rem;
    margin-top: 0.2rem;
}

/* .stepsDescription.stepsDescriptionLink {
    color: #e20074;
} */

/* .stepsValue:hover .stepsDescription{
    text-decoration: underline;
} */

.tagged, .stepWebsite{
    cursor: pointer;
}

.stepWebsite a, .stepsValue a{
    color: #f10f85;
}

.stepWebsite a:hover, .stepsValue a:hover{
    color: #c7046a;
}

.tagged{
    font-weight: 400;
}

.tagged:hover{
    color: #c7046a;
}

.stepWebsite{
    font-size: 0.9rem;
    display: flex;
    align-items: center;
}

.externalVideoDiv {
    display: flex;
    align-items: baseline;
}

.stepsubset {
    font-family: "Roboto";
    font-size: 0.75rem;
    line-height: 1.5;
    color: #000000;
}
.stepsubset:hover{
    color: #000000;
    cursor: pointer;
}

.nextBtn{
    display: flex;
    background-color: #f10f85;
    color: #fff;
    min-width: 6rem;
    height: 2.6875rem;
    align-items: center;
    justify-content: center;
    padding: 0 1.25rem;
    font-size: 0.87rem;
    font-family: "Roboto";
    font-weight: 400;
    line-height: 0.86;
    letter-spacing: 1px;
    letter-spacing: 1px;
    border-radius: 0.188rem;
    border: none;
    cursor: pointer;
}

.nextBtn:hover{
    background-color: #c7046a;
    color: #fff;
}

.nextBtn:focus{
    outline: none;
}

.nextBtnArrow {
    width: 14.7px;
    height: 15px;
    margin: 0 0 0.15rem 0.4rem;
}

.backBtn{
    display: flex;
    background-color: rgba(139, 143, 164, 0.85);
    color: #fff;
    min-width: 5.5rem;
    height: 2.6875rem;
    align-items: center;
    justify-content: center;
    font-size: 0.87rem;
    font-family: "Roboto";
    padding: 0 1.25rem;
    font-weight: 400;
    line-height: 0.86;
    letter-spacing: 1px;
    letter-spacing: 1px;
    border-radius: 0.188rem;
    border: none;
    cursor: pointer;
}

.backBtn:hover{
    color: #fff;
    background-color: rgba(139, 143, 164, 1);
}

.backBtn:focus{
    outline: none;
}

.backBtnArrow {
    width: 14.7px;
    height: 15px;
    margin: 0 0.6rem 0.15rem 0;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);   
    -o-transform: rotate(180deg);     
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.backBtnLast {
    left: 8.3rem;
    bottom: 0.65rem;
    display: none;
}

.underlay {
    border-radius: 8px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    margin: auto;    
    margin-top: -3rem;
}

.screen1 {
    width: calc(100% - 2.625rem);;
    height: 3.5rem;
    z-index: 5;
    position: relative;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #b6b6be;
}

.screen2 {
    width: calc(100% - 5.625rem);
    height: 3.5rem;
    z-index: 0;
    position: relative;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #aeaeba;
}

.devJourneyRight .breadcrumbb {
    border-bottom: none;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    list-style: none;
    width: 94%;
}

.devJourneyRight .breadcrumb-flex li:last-child a {
    color: #474a68;
}

.devJourneyRight .breadcrumb-li {
    padding: 0rem;
    display: inline;
}

.devJourneyRight .breadcrumb-item+.breadcrumb-item:before {
    display: inline-block;
    padding-right: .3rem;
    padding-left: .3rem;
    color: #474a68;
    content: "/" !important;
}

.devJourneyRight .breadcrumb-li a {
    font-size: 0.75rem !important;
}

.devJourneyRight .breadcrumb-li {
    line-height: 1.42;
}

.devJourneyRight .breadcrumb-item+.breadcrumb-item {
    padding-left: 0rem;
}

.allStagesCompleted{
    position: absolute;
    bottom: 0rem;
    left: 0;
    width: 100%;
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.allStagesCompleted a{
   color: #e20074;
   padding: 0 0.2rem;
}
.allStagesCompleted a:hover{
    color: #e20074;
}
.devJourneyRight .breadcrumbb {
    width: 105% !important;
}

.devJourneyButtonsDiv {
    padding: 2.250rem 2.250rem 2.250rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #ffffff;
    z-index: 5;
}

.doneBtn{
    background-color: #f10f85;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.6875rem;
    font-size: 0.87rem;
    font-family: "Roboto";
    padding: 0 1.25rem;
    font-weight: 400;
    line-height: 0.86;
    margin-left: 1rem;
    letter-spacing: 1px;
    letter-spacing: 1px;
    border-radius: 0.188rem;
    border: none;
    cursor: pointer;
}

.dummy-devJourneyRight {
    max-height: calc(100vh - 9.3rem);
    min-height: calc(100vh - 9.3rem);
    width: 100%;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    padding: 1.5rem 2rem;
    visibility: hidden;
    position: absolute;
    z-index: 2;
}

.dummyDivAnimation {
    visibility: visible;
    background-color: #fff;
    z-index: 6;
    -webkit-transform-origin: 50% 300%;
	transform-origin: 50% 300%;
	-webkit-animation: divSlideOut 0.5s forwards;
	animation: divSlideOut 0.5s forwards;
}

.externalImg{
    margin: 0 0.3rem;
    width: 0.9rem;
    height: 0.9rem;
}

.externalLink:hover{
    color:#e20074
}

@-webkit-keyframes divSlideOut {
	to {
		opacity: 0;
		-webkit-transform: rotate3d(0, 0, 1, 20deg);
		transform: rotate3d(0, 0, 1, 20deg);
	}
}

@keyframes divSlideOut {
	to {
		opacity: 0;
		-webkit-transform: rotate3d(0, 0, 1, 20deg);
		transform: rotate3d(0, 0, 1, 20deg);
	}
}

.dummyDivBackAnimation {
    visibility: visible;
    background-color: #fff;
    /* opacity: 0.3; */
    z-index: 5;
    -webkit-animation: rotate-in-br 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: rotate-in-br 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes rotate-in-br {
    0% {
      -webkit-transform: rotate(50deg);
              transform: rotate(50deg);
      -webkit-transform-origin: bottom right;
              transform-origin: bottom right;
      opacity: 0.85;
    }
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transform-origin: bottom right;
              transform-origin: bottom right;
      opacity: 0;
    }
  }
  @keyframes rotate-in-br {
    0% {
      -webkit-transform: rotate(50deg);
              transform: rotate(50deg);
      -webkit-transform-origin: bottom right;
              transform-origin: bottom right;
      opacity: 0.85;
    }
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transform-origin: bottom right;
              transform-origin: bottom right;
      opacity: 0;
    }
  }

.fadeInAnimation {
    animation: fadeInOpacity 1s 1;
    -webkit-animation: fadeInOpacity 1s 1; /* Safari 4+ */
}

@keyframes fadeInOpacity {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeInOpacity {
    0%   { opacity: 0; }
    20% { opacity: 0; }
    40%   { opacity: 0.5; }
    60% { opacity: 0.5; }
    80%   { opacity: 1; }
    100%   { opacity: 1; }
}

.devScreeensAnimation {
    animation: zoomIn 0.5s 1;
    -webkit-animation: zoomIn 0.5s 1; /* Safari 4+ */
}

@keyframes zoomIn {
    0% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1.0);
    }
}

@-webkit-keyframes zoomIn {
    0% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1.0);
    }
}

.email-align {
    display: flex;
}

.stepsValue, .additionalNotesTitle {
    width: calc(100% - 24.5rem);
}

.externalLinkIcon img {
    width: 100%;
    height: 100%;
}

.email-ali {
    margin-top: 0.17rem;
}

.devJourneyMd {
    margin-right: -0.5rem;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 3rem;
    min-height: 20rem;
}

.devJourneyRight .devJourneyMd h2 {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 1.5rem;
    margin: 1rem 0;
    line-height: 2rem;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    opacity: .8
}

.devJourneyRight .devJourneyMd p:nth-child(2) {
    display: flex;
    font-family: "Roboto";
    font-size: 13px;
    color: #22262c;
    width: 30rem;
}

.devJourneyRight .devJourneyMd p:nth-child(2) a {
    margin-left: 0.2rem;
    color: #e20074;
}

.devJourneyRight .devJourneyMd ol {
    padding-left: 1.3rem;
    font-family: "Roboto";
    font-size: 1rem;
    color: #333333;
    width: 32rem;
}

.devJourneyRight .devJourneyMd ol li {
    border-bottom: solid 1.5px rgba(0, 0, 0, 0.2);
    padding: 1.5rem 0;
    /* display: flex;
    align-items: center; */
}

.devJourneyRight .devJourneyMd ol li:nth-last-child(1) {
    border-bottom: none;
}

.devJourneyRight .devJourneyMd ol li a:nth-last-child(1) {
    display: inline-flex;
    font-family: "Roboto";
    font-size: 0.75rem;
    line-height: 1.5;
    color: #e20074;
    align-items: flex-end;
    margin-bottom: 0.1rem;
    padding-left: 6px;
}

.devJourneyRight .devJourneyMd ol li a {
    color: #000000;
}

.devJourneyRight .devJourneyMd ol a span.gatsby-resp-image-wrapper {
    margin: 0 0.3rem 0rem 0!important;
}

.devJourneyRight .devJourneyMd ol a span.gatsby-resp-image-background-image {
    background-image: none!important;
    position: static!important;
    padding-bottom: 0!important;
}

.devJourneyRight .devJourneyMd ol a img.gatsby-resp-image-image {
    position: static!important;
    width: 14px!important;
    height: 14px!important;
}

.devJourneyRight .devJourneyMd .custom-block.notes {
    border-radius: 3px;
    background-color: rgba(217,219,223,.5);
    margin-right: 0.5rem;
    padding: 1.2rem;
    width: 14rem;
    position: absolute;
    top: 6.4rem;
    right: 0rem;
}

.devJourneyRight .devJourneyMd .notes .custom-block-heading {
    font-size: .8rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: .7rem
}

.devJourneyRight .devJourneyMd .notes .custom-block-body {
    font-family: "Roboto";
    font-size: 12px;
    line-height: 1.42;
    color: #22262c;
}

.devJourneyRight .devJourneyMd .notes .custom-block-body a {
    color: #22262c;
}

.iLink .custom-block-heading {
    display: inline;
}

.iLink .custom-block-body {
    display: inline-block;
}

.custom-block-body > p {
    margin: 0;
    margin-block-end: 0px;
}

.collapseJourney .rotate-btn {
    top: 2rem !important;
    width: 5rem;
    left: -5.5rem;
    /* transform: rotate(180deg); */
} 

.collapseJourney .rotate-btn {
    transform: none;
}

div#devJourneyRight-div {
    transition: all 0.3s ease;
}

.no-scroll {
    overflow: hidden;
}

.devJourneyComponentRight .devJourneyMd div ol li:nth-child(2) p {
    margin-top: 0;
    margin-bottom: 0 !important;
}

.external .custom-block-body {
    display: inline-block;
}

.external .custom-block-heading {
    display: inline;
}

.external .custom-block-body p a, .iLink .custom-block-body p a {
    font-family: "Roboto";
    font-size: 0.82rem;
    padding-left: 0.3rem;
    color: #e20074;
}