.blogintro {
  display: flex;
  justify-content: space-between;
  height: 32rem;
}

.blog-intro-left {
  flex-basis: 50%;
  background-image: url("../../../../images/group-16.png");
  background-size: cover;
  /* background-size: 100% 100%; */
}

.leaderswith {
  font-family: "Roboto";
  letter-spacing: 0.1rem;
  word-spacing: 0.3rem;
  font-size: 2.813rem;
  color: #ffffff;
  font-weight: 100;
  margin: 3.5rem;
}

.Read-More {
  font-family: "Roboto";
  font-size: 0.875rem;
  color: #f10f85;
  text-decoration: underline;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.Read-More:hover {
  font-size: 0.9rem;
  color: #f10f85;
  text-decoration: none;
  transition: all 0.1s ease-in;
}

.lorem {
  font-family: "Roboto";
  font-size: 1.12rem;
  letter-spacing: -0.4px;
  font-weight: 300;
  line-height: 1.56;
  color: #4a4a4a;
  margin-top: 3.438rem;
  margin-left: 4.188rem;
  margin-right: 4.188rem;
}

.lorem .blog-intro-text {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 12;
  max-height: 19.5rem;
}

.blog-date {
  font-size: 0.75rem;
  font-weight: bold;
  margin-left: 3.5rem;
  margin-top: 3.5rem;
  letter-spacing: 1px;
  color: #ffffff;
  text-transform: uppercase;
}

.blog-intro-right {
  flex-basis: 50%;
  display: flex;
}

.max-width-blog-upper {
  width: 80rem;
  margin: 0 auto;
}