.devJourney-bg {
    position: relative;
    background-image: url('../../../../images/BG_DevJourney@2x-min.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    transition: all 0.3s ease-out;
    overflow: hidden;
}

.max-width-devjourney {
    max-width: 76.5rem!important;
    margin: 0 auto;
}

.devJourney{
    display: flex;
    justify-content: space-evenly;
    /* padding-top: 5rem; */
    align-items: center;
    width: 100%;
    /* height: 100%; */
    opacity: 1;
    animation: fadeInOpacity 0.3s 1;
    overflow: hidden;
    -webkit-animation: fadeInOpacity 0.3s 1; /* Safari 4+ */
    margin-top: -1.6rem;
}

@keyframes fadeInOpacity {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeInOpacity {
    0%   { opacity: 0; }
    20% { opacity: 0; }
    40%   { opacity: 0.5; }
    60% { opacity: 0.5; }
    80%   { opacity: 1; }
    100%   { opacity: 1; }
  }

.devJourneyNav{
    width: 16.9rem;
    padding: 2rem 1.2rem 0 1.4rem;
    margin-top: 0.3rem;
    position: absolute;
    left: 0;
    margin-left: -2rem;
}

.devJourneyContent{
    width: 100%;
    position: absolute;
    top: 6rem;
    transition: all 0.3s ease;

    /* width: calc(100% - 3.625rem); */
}

/* .devJourneyNavbarr {
    margin-left: 0;
} */

/* .collapseJourneyy {
    margin-right: 12rem;
}  */

   .collapseJourney {
    margin-right: 10.2rem;
    }
    
.devJourneyRi {
    /* margin-left: -9.5rem; */
    max-width: 74rem;
}

.collapseJourney .stageName {
    display: none;
}

.collapseJourney .dev-jouney {
    opacity: 0;
}

.collapse-btn {
position: relative;
left: 1.2rem;
width: 30px;
top: -0.15rem;
height: 30px;
width: 1.875rem;
height: 1.875rem;
margin-left: 0px;
z-index: 1;
}

.collapse-btn img {
    cursor: pointer;
}

.collapseJourney .collapse-btn {
    position: relative;
    left: -4.8rem;
    top: 0.4rem;
    padding: 0.6rem;
}

.max-width-devjourney .rotate-btn {
    /* transform: rotate(180deg); */
    top: 0.2rem;
    left: 1.5rem;
}

.max-width-devjourney .collapseJourney .rotate-btn {
    top: 0.3rem !important;
    width: 5rem;
    left: -5.5rem;
    cursor: pointer;
} 

.collapseJourney .stageIcon {
    margin-right: 0;
}

.collapseJourney .navBarContainer {
    padding: 0.0rem;
}

.collapseJourney .stages-container:after {
    left: 48%;
}

.collapseJourney .subStageName {
    display: none;
}

.devJourney-nav {
  width: 100%;
  height: 46px;
  box-shadow: 0 2px 6px 0 rgba(65, 65, 65, 0.78);
  background-color: #626589;
}

.devJourney-detail {
    display: flex;
}

.devJourney-bg .breadcrumbb {
    margin-top: 5rem;
}

.devJourneyComponent .devJourneyNav {
    margin-top: 0.6rem;
    z-index: 0 !important;
    top: 5.5rem;
}

.devJourneyComponent .devJourneyComponentRight {
    padding-top: 0.7rem;
}

.devJourneyComponent .devJourney-bg .breadcrumbb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%!important;
  height: 48px;
  margin-top: 4rem;
  box-shadow: 0 2px 6px 0 rgba(65, 65, 65, 0.78);
  background-color: #626589;
  border: none;
}

.devJourney-bg .text-style-1 {
  height: 1rem;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
}

.devJourney-bg .breadcrumb-flex li:last-child a {
    color: #ffffff;
}

.devJourney-bg .breadcrumbb .breadcrumb-flex li:nth-child(1) a {
    font-size: 20px;
    font-weight: bold;
}

.devJourney-bg .breadcrumbb .breadcrumb-flex li a::before {
    content: "|";
    font-weight: bold;
    opacity: 0.3;
    /* padding-right: 0.5rem; */
    padding-left: 0.5rem;
    color: #fff;
}

/* .devJourney-bg .breadcrumbb .breadcrumb-flex li:nth-child(1) a::before {
    content: "";
} */

.breadcrumb-item + .breadcrumb-item::before {
    display: none;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: #6c757d;
    content: ">";
}

.devJourney-bg .breadcrumbb li a:hover {
    color: #ffffff;
}

.devJourney-bg .breadcrumb-flex li:last-child a {
    cursor: default;
    font-weight: 400;
    color: #fff;
}

/* .devJourney-bg .breadcrumb-item+.breadcrumb-item:before {
    display: none;
} */

/* .devJourney-bg .breadcrumb-flex li:first-child {
    margin-right: -0.6rem;
} */

.collapseJourney .stages {
    justify-content: center;
}

.collapseJourney .subStageIcon {
    margin-right: 0.4rem;
}

.devJourney-bg .collapseJourney .collapse-btn {
    left: -6.1rem;
    top: 0.25rem;
}

/* .collapseJourney .devSide-minHeight {
    overflow-x: hidden;
} */

.collapseJourney .show {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.devJourneyNav .collapseJourney .allStagesWrap, .stagesLine {
    /* display: flex; */
    position: absolute;
    left: 1.4rem;
    flex-direction: column;
    margin-top: 1.1rem;
}

.devJourneyNav .breadcrumb-item {
    padding: 0;
}

div#devJourneyNavbarr {
    transition: all 0.3s ease;
    border-top-right-radius: 0.55rem;
    border-bottom-right-radius: 0.55rem;
}

.collapseJourney .subStages {
    margin-left: 0;
}

.collapseJourney .stagesLine {
    top: 0.5rem;
}